#chartjs-tooltip, #chartjs-tooltip2 {
  width: initial;
  height: initial;
  .tooltip_title {
    font-size: 12px;
    line-height: 13px;
    height: 12px;
    margin-bottom: 6px;
  }
  .tooltip_body {
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    font-weight: normal;
  }

  >div {
    width: 100px;
    padding: 6px;
    font-family: ProximaNova;
    position: relative;
    border-radius: 4px;
    background-color: #eff3f6;
    color: #354052;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.6);
    -moz-box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.6);
    box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.6);

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: 1px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after{
      border: 1px solid #d1d4d7;
      border-color: rgba(239, 243, 246, 0);
      border-top-color: #eff3f6;
      border-width: 4px;
      margin-left: -4px;
    }
    &:before{
      border: 1px solid #d1d4d7;
      border-color: rgba(239, 243, 246, 0);
      border-top-color: #eff3f6;
      border-width: 5px;
      margin-left: -5px;
    }
  }
}

#chartjs-tooltip>div{
  height: 46px;
  width: 100px;
}
#chartjs-tooltip2>div{
  height: 30px;
  width: 100px;
}