@font-face {
  font-family: HelveticaNeue; /* Имя шрифта */
  src: url('fonts/Helvetica_Neue/HelveticaNeue.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: ProximaNova; /* Имя шрифта */
  src: url('fonts/Proxima_Nova/ProximaNova-Regular.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: ProximaNova; /* Имя шрифта */
  src: url('fonts/Proxima_Nova/ProximaNova-Semibold.ttf'); /* Путь к файлу со шрифтом */
  font-weight:500
}
@font-face {
  font-family: ProximaNova; /* Имя шрифта */
  src: url('fonts/Proxima_Nova/ProximaNova-Light.ttf'); /* Путь к файлу со шрифтом */
  font-weight:200
}
@font-face {
  font-family: ProximaNova; /* Имя шрифта */
  src: url('fonts/Proxima_Nova/ProximaNova-RegularIt.ttf'); /* Путь к файлу со шрифтом */
  font-style:italic;
}

$sidebar-header-height: 215px;


body{
  font-size:16px;
  &.sidebar-mobile-show, &.dropdown-select-show, &.table-show {
    overflow: hidden;
    position:fixed;
    width: 100%;
  }
}

.app-footer{
  position: absolute;
  bottom: 0px;
  display: none !important;
}

.main__additional-padding{
  padding-top: 117px!important;
}

.navbar {
  .sidebar-minimizer {
    min-width: 50px;
  }

  .form-inline {
    i {
      color: $navbar-color;
    }
    .form-control {
      min-width: 250px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }
  }
}

.sidebar {
  .sidebar-title{
    margin-top:21px;
  }
  .sidebar-header {
    height: $sidebar-header-height;
    padding-bottom: 10px;
    margin-top:-10px;
    text-align: center;
    background: $sidebar-header-bg;
    margin-bottom: 29px;
    .img-avatar {
      width: 97px;
      height:97px;
      margin: 20px auto 13px;
      border-radius: 50em;
      background:#b6bded
    }

    .text-muted {
      margin-top: -5px;
      margin-bottom: 18px;
      .small{
        font-size: 12px;
      }
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      .badge {
        top: -8px;
      }

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
  .sidebar-header + .sidebar-nav {
    //height: calc(100vh - #{$sidebar-header-height} - 130px) !important;
    height:auto!important;
    overflow:auto;
    & > .nav{
      padding-bottom: 50px;
    }
  }
}


.digit_space{
  display: inline;
  margin: 0 !important;
  margin-left: .2em !important;
  padding: 0 !important;
  height: 0px !important;
  line-height: 0px !important;
}

.page-title{
  text-align:left;
}

@include media-breakpoint-up(sm) {
  .sidebar-compact {
    .sidebar {
      .sidebar-header {
        height: 50px;
        padding: 0;

        .img-avatar {
          width: $sidebar-compact-width - 10px;
          margin: 5px auto;
        }
        div {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .app-body{
  margin-top: 65px;
  }
  .navbar{
    .page-title{
      text-align:center;
      font-size: 1em;
    }
    .tree_select{
      height: 38px;
      font-size: 0.688em;
      .tag-item:last-child{
        padding: 0px;
        input{
          width:110px;
        }
      }
      .dropdown-trigger{
        padding: 0px;
      }
    }
    .navbar-toggler-icon{
      height: 46px;
    }
  }

}


.main-title{
  font-family: ProximaNova;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  line-height:37px;
}

.sidebar .navbar-brand{
  display: inline-block;
  width: 200px;
  height: 105px;
  padding: 0.5rem 1rem;
  margin-right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px auto;
  border-bottom: 1px solid #d1d4d7;
}

.d-lg-none,.d-md-down-none{
  margin: auto;
  display: inline-block;
  color: #fff;
  text-align: right;
  width: 100%;
  background-image: url('/img/menu.png');
  background-repeat: no-repeat;
  background-size: 25px 20px;
  background-position: 50%;
  margin-left: -12px;
}

.app-header.navbar{
  min-height: 50px;
  text-align:center;
  padding: 25px 0;
  padding-right: 250px;
  margin-left: 250px;
  height:auto!important;
}

.nav-link{
  background:#1f2127!important;
  font-size: 14px;
  i{
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 22px !important;
    top: 7px;
  }
  &.nav-dropdown-toggle{
    &::before{
      top:1.65rem!important
    }
  }
}

.nav-dropdown-items .nav-link{
  background:#141519!important
}

.navbar.app-header button.d-lg-none.navbar-toggler {
  background-image: url('/img/blackham.png');
  text-align: left;
  color: #0f0f0f;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  height: 25px;
  left: 25px;
  top: 10%;
  position: absolute;
  display: inline;
}

.sidebar-mobile-show .app-header.navbar {
  margin-left: 250px!important;
}

.sidebar-mobile-show .app-header button.d-lg-none.navbar-toggler {
  display: none;
}


.address{
  text-align: left;
  padding-left: 15px;
}

main.main{
  position:relative
}

.cityLink{
  margin-right:15px;
}
.main{
  padding-top: 127px;
}
.mr-3.btn-group{
  height: 35px
}
.card {
  margin-bottom: 5px;
}
.card-body.pb-0.card-block {
  padding: 5px;
  text-align: center;
}
.horizontal-bars.maket li{
  height:20px;
}
.horizontal-bars.maket li.legend {
  margin-top:12px;
  margin-bottom: 24px;
}
.callout .chart-wrapper {
  position: absolute;
  top: 18px;
  left: 45%;
  float: right;
  width: 150px;
}
.Select-menu-outer{
  top:37px;
  max-height:400px;
}
.Select-menu{
  max-height:390px;
}

.exit-btn--full,.exit-btn--minimize {
  text-align: left;
  width: 77px;
  height: 23px;
  margin: auto;
  cursor: pointer;
  border: 1px solid #fff;
  line-height: 20px;
  padding-left: 8px;
  background-image: url('/img/logout.png');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 88%;
  font-size: 14px;
  font-weight: 400;
}
.exit-btn--minimize{
  display: none;
  margin: auto;
}
.sidebar-minimized {
  .app-header.navbar{
    margin-left: 50px;
    padding-right:60px!important;
  }
  .hamburger {
    width: 100%;
    max-width: 100%;
    .d-lg-none, .d-md-down-none{
      margin-left:0;
    }
  }
  .settings-btn{
    display: none;
  }
  .sidebar .sidebar-nav{
    display:none
  }
  .sidebar-header {
    height: 140px;
    .full-name,.text-muted{
      display: none;
    }
    .img-avatar{
      width: 45px;
      height: auto;
      margin-top: 34px;
    }
  }
  .exit-btn--full{
    display: none;
  }
  .exit-btn--minimize{
    display: block;
    width: 44px;
    margin-top: 13px;
    background-position: 58%;
  }
  .main-title{
    display:none
  }
}


.layout{
  display: block;
  height: 100%;
  width: 115%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 31;
  position: fixed;
  margin-left: -15%;
  left:0
}

.dateBlock{
  text-align: center;
  line-height: 0.9;
  font-weight: 300;
  color: #354052;
  right: 38px;
  display: inline-block;
  padding: 0;
  max-width: 72px;
  width: 72px;
  .date{
    font-size: 48px;
  }
  .month{
    font-size: 18px;
  }
}

.changeHeaderPadding{
  padding:17px 0!important;
  padding-right:250px!important;
}

.navbar-toggler{
  &:focus{
    outline: none;
  }
}

.custom-icon-home{
  background:url('/img/icons/home.png');
}

.custom-icon-traffic{
  background:url('/img/icons/trafik.png');
}

.custom-icon-internal_revenue{
  background:url('/img/icons/vir_vnutr.png');
}

.custom-icon-external_revenue{
  background:url('/img/icons/vir_vneshn.png');
}

.scrollWrapper{
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 135px) !important;
}

.sidebar .scrollWrapper {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: black;
    background-clip: content-box;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: #1f2127;
    border-right: 1px solid #09090b;
    border-left: 1px solid #09090b;
  }
  &::-webkit-scrollbar-track {
    background-color: #1f2127;
    border-right: 1px solid #09090b;
    border-left: 1px solid #09090b;
  }
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: beige!important;
  background-image: none;
  color: rgb(0, 0, 0);
}



  @media screen and (max-width:1486px){
    .bigCities{
      display:none;
    }
  }

  @media screen and (max-width:991px){
    .main {
      padding-top: 0px!important;
      .container-fluid {
        padding: 0 0px;
      }
    }
    .app-header .page-title{
      text-align:center;
      padding-left:0;
    }
    .navbar-brand{
      display:none!important
    }
    .navbar .tree_select{
      text-align:center!important
    }

    .app-header.navbar{
      min-height: 50px;
      text-align:center;
      padding-top:9px;
      padding-bottom: 1px;
      margin-left: 250px;
      padding-right: 0!important;
      height:auto!important;
    }

    .app-body__reduce-margin{
      margin-top: 70px;
    }

    .dateBlock{
      display: none;
    }

  }

  @media screen and (max-width:767px){
    .app-body__reduce-margin{
      margin-top: 55px;
    }
  }

  @media screen and (max-width:374px){
    .app-header .page-title{
      font-size: 14px;
    }
  }

  @media screen and (max-width:320px){
    .dashboard {
      strong.h4.indicator {
        font-size: 12px;
      }
    }
  }



