// Here you can add other styles
body{
  &.sidebar-mobile-show, &.dropdown-select-show {
    overflow: hidden;
    position:fixed;
  }
}

.navbar {
  .sidebar-minimizer {
    min-width: 50px;
  }

  .form-inline {
    i {
      color: $navbar-color;
    }
    .form-control {
      min-width: 250px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }
  }
}

$sidebar-header-height: 170px;

.sidebar {
  .sidebar-header {
    height: $sidebar-header-height;
    padding-bottom: 10px;
    margin-top:-40px;
    text-align: center;
    background: $sidebar-header-bg;

    .img-avatar {
      width: 80px;
      height:80px;
      margin: 20px auto 10px;
      border-radius: 50em;
      background:#b6bded
    }

    .text-muted {
      margin-top: -5px;
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      .badge {
        top: -8px;
      }

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
  .sidebar-header + .sidebar-nav {
    height: calc(100vh - #{$navbar-height} - #{$sidebar-header-height}) !important;
  }
}

.sidebar-minimized {
  .sidebar-header {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .page-title{
    text-align:left!important;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar-compact {
    .sidebar {
      .sidebar-header {
        height: 50px;
        padding: 0;

        .img-avatar {
          width: $sidebar-compact-width - 10px;
          margin: 5px auto;
        }
        div {
          display: none;
        }
      }
    }
  }
  .page-title{
    text-align:center;
  }
}

@include media-breakpoint-up(xs) {
  .page-title{
    text-align:center;
  }
}



.sidebar .navbar-brand{
  display: inline-block;
  width: 200px;
  height: 105px;
  padding: 0.5rem 1rem;
  margin-right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px auto;
  border-bottom: 1px solid #d1d4d7;
}

.d-lg-none,.d-md-down-none{
  margin: auto;
  display: inline-block;
  color: #fff;
  text-align: left;
  width: 100%;
}

.app-header.navbar{
  min-height: 50px;
  text-align:center;
  padding-top:10px;
  margin-left: 250px;
  height:auto!important;
}

.nav-link{
  background:#1f2127!important
}
.nav-dropdown-items .nav-link{
  background:#141519!important
}

.navbar.app-header button.d-lg-none.navbar-toggler {
  text-align: left;
  color: #0f0f0f;
  width: 45px;
  background-image: url('../img/blackham.png');
  background-repeat:no-repeat;
  background-size: 65%;
  padding:0;
  left: 0;
  position: absolute;
  display: inline;
}

.sidebar-mobile-show .app-header.navbar {
  margin-left: 250px!important;
}

.sidebar-mobile-show .app-header button.d-lg-none.navbar-toggler {
  display: none;
}


.link-to-object{
  color: #151b1e;
}

.address{
  text-align: left;
  padding-left: 15px;
}

main.main{
  position:relative
}

.cityLink{
  margin-right:15px;
}
.main{
  padding-top: 90px;
}
.mr-3.btn-group{
  height: 35px
}
.card {
  margin-bottom: 5px;
}
.card-body.pb-0.card-block {
  padding: 5px;
  text-align: center;
}
.horizontal-bars.maket li{
  height:20px;
}
.horizontal-bars.maket li.legend {
  margin-top:12px;
  margin-bottom: 24px;
}
.callout .chart-wrapper {
  position: absolute;
  top: 18px;
  left: 45%;
  float: right;
  width: 150px;
}
.Select-menu-outer{
  top:37px;
  max-height:400px;
}
.Select-menu{
  max-height:390px;
}

button.settings-btn {
  background: none;
  border: none;
  width: 100%;
  text-align: right;
  height: 38px;
  img{
    width:23px
  }
}

.sidebar-minimized {
  .app-header.navbar{
    margin-left: 50px;
  }
  .hamburger {
    width: 100%;
    max-width: 100%;
  }
  .settings-btn{
    display: none;
  }
}

.armenia span.node-label::before {
  background-image: url('../img/flags/Armenia-new.png');
  width: 12px;
  background-size: 12px;
  height: 12px;
  display: inline-block;
  content: '';
  position: absolute;
  margin-left: -18px;
  margin-top: 4px;
}

.layout{
  display: block;
  height: 100%;
  width: 115%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 31;
  position: fixed;
  margin-left: -15%;
  left:0
}

button.clear-field {
  background-image:url('../img/clear.png');
  background-size:contain;
}

@media screen and (max-width:991px){
  .main {
    padding-top: 0px!important;
    .container-fluid {
      padding: 0 5px;
    }
  }
  .navbar-brand{
    display:none!important
  }
  .navbar .tree_select{
    text-align:center!important
  }
}

@media screen and (max-width:1486px){
  .bigCities{
    display:none;
  }
}





