// Here you can add other styles
body{
  &.sidebar-mobile-show{
    overflow: hidden;
  }
}

.navbar {
  .sidebar-minimizer {
    min-width: 50px;
  }

  .form-inline {
    i {
      color: $navbar-color;
    }
    .form-control {
      min-width: 250px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }
  }
}

$sidebar-header-height: 200px;

.sidebar {
  .sidebar-header {
    height: $sidebar-header-height;
    padding-bottom: 10px;
    text-align: center;
    background: $sidebar-header-bg;

    .img-avatar {
      width: 80px;
      height:80px;
      margin: 20px auto 10px;
      border-radius: 50em;
    }

    .text-muted {
      margin-top: -5px;
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      .badge {
        top: -8px;
      }

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
  .sidebar-header + .sidebar-nav {
    height: calc(100vh - #{$navbar-height} - #{$sidebar-header-height}) !important;
  }
}

.sidebar-minimized {
  .sidebar-header {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .page-title{
    text-align:left!important;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar-compact {
    .sidebar {
      .sidebar-header {
        height: 50px;
        padding: 0;

        .img-avatar {
          width: $sidebar-compact-width - 10px;
          margin: 5px auto;
        }
        div {
          display: none;
        }
      }
    }
  }
  .page-title{
    text-align:center;
  }
}

@include media-breakpoint-up(xs) {
  .page-title{
    text-align:center;
  }
}



.sidebar .navbar-brand{
  display: inline-block;
  width: 200px;
  height: 105px;
  padding: 0.5rem 1rem;
  margin-right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px auto;
  border-bottom: 1px solid #d1d4d7;
}

.d-lg-none,.d-md-down-none{
  margin: auto;
  display: block;
  color: #fff;
  width:100%;
  text-align: right;
}

.app-header.navbar{
  text-align:center;
  margin-left: 250px;
  padding-top: 10px;
  height:auto!important;
}

.nav-link{
  background:#1f2127!important
}
.nav-dropdown-items .nav-link{
  background:#141519!important
}

.card{
  border: 1px solid #d1d4d7;
  border-radius: 1px 1px 2px 2px;
  box-shadow: 0 0 4px #cecece;
}

.navbar.app-header button.d-lg-none.navbar-toggler {
  text-align: left;
  width: 0;
  left: 0;
  position: absolute;
  display: inline;
}

.sidebar-mobile-show .app-header.navbar {
  margin-left: 250px!important;
}

.sidebar-mobile-show .app-header button.d-lg-none.navbar-toggler {
  display: none;
}

.dropdown-trigger{
  min-width: 300px;
}

.link-to-object{
  color: #151b1e;
}

.address{
  text-align: left;
  padding-left: 15px;
}

