#no-stick {
  padding-top: 34px;
  overflow: hidden; }
  #no-stick .thead {
    height: 100%;
    white-space: nowrap;
    margin: 0px; }
  #no-stick .thead > span {
    display: inline-block;
    width: 101px;
    text-align: left;
    font-size: 0.875em;
    line-height: 0px;
    margin-top: 28px;
    margin-bottom: 8px; }
    #no-stick .thead > span a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 18px;
      width: 73px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 14px;
      height: 28px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: bold;
      cursor: pointer; }
  #no-stick .trow {
    white-space: nowrap; }
    #no-stick .trow > span {
      display: inline-block;
      width: 101px;
      line-height: 43px;
      height: 43px;
      font-size: 0.875em;
      text-align: right;
      padding-right: 15px;
      color: #354052; }
  #no-stick .trow_hover_d {
    background-color: #e7e7e7; }
  #no-stick .tbody {
    height: calc(100vh - 248px);
    height: -moz-calc(100vh - 248px);
    height: -webkit-calc(100vh - 248px);
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #no-stick .average_column {
    background-color: rgba(246, 170, 37, 0.25);
    color: #354052;
    font-weight: normal;
    font-style: italic; }
    #no-stick .average_column span {
      height: 15px;
      line-height: 15px;
      margin-top: 1px;
      margin-bottom: 2px; }
    #no-stick .average_column:hover {
      background-color: rgba(246, 170, 37, 0.25) !important; }
  #no-stick .today_trow, #no-stick .current_year, #no-stick .current_month, #no-stick .forecast_month {
    font-weight: bold; }
  #no-stick .average_month {
    background-color: rgba(246, 170, 37, 0.25);
    color: #2d2d2d;
    font-style: italic; }
    #no-stick .average_month span {
      height: 15px;
      line-height: 15px;
      margin-top: 1px;
      margin-bottom: 2px; }
    #no-stick .average_month:hover {
      background-color: rgba(246, 170, 37, 0.25) !important; }
  #no-stick .conceptions-table .holidays_column {
    background-color: rgba(159, 212, 115, 0.25); }
    #no-stick .conceptions-table .holidays_column:hover {
      background-color: rgba(159, 212, 115, 0.25) !important; }
  #no-stick .fix-column {
    float: left;
    text-align: center;
    width: 139px;
    font-weight: 400; }
    #no-stick .fix-column > .tbody {
      overflow: hidden;
      box-shadow: 0px 0px 0px 0px rgba(200, 200, 200, 0.8);
      transition: box-shadow 0.2s ease-in-out; }
      #no-stick .fix-column > .tbody > .trow {
        width: 139px;
        text-align: right;
        padding-right: 21px;
        display: block; }
        #no-stick .fix-column > .tbody > .trow span {
          padding-right: 0px; }
      #no-stick .fix-column > .tbody.v_shadow {
        box-shadow: 1px 3px 8px 0px rgba(200, 200, 200, 0.8); }
  #no-stick .fix-column > .tbody > .trow:first-child {
    margin-top: 0px; }
  #no-stick .fix-column > .tbody > .trow:last-child {
    padding-bottom: 10px; }
  #no-stick .rest-columns {
    width: auto; }
    #no-stick .rest-columns > .thead {
      /*padding-right: 50px;*/
      overflow: hidden;
      box-shadow: 0px 0px 0px 0px rgba(200, 200, 200, 0.8);
      transition: box-shadow 0.2s ease-in-out; }
      #no-stick .rest-columns > .thead > span {
        margin-right: 50px;
        margin-left: -50px; }
      #no-stick .rest-columns > .thead.h_shadow {
        box-shadow: 0px 6px 8px -3px rgba(200, 200, 200, 0.8); }
    #no-stick .rest-columns .tbody .trow {
      font-family: Courier;
      display: table; }
  #no-stick .rest-columns > .thead > :first-child {
    margin-left: 0px; }
  #no-stick .link-to-object {
    white-space: normal; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
  height: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ddd; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd; }
