.conceptions-table {
  background: #fff; }
  .conceptions-table td, .conceptions-table th {
    position: relative; }
  .conceptions-table thead th {
    border-bottom: none; }
  .conceptions-table tr:first-child td {
    border-top: none; }
  .conceptions-table .average_column {
    background: #fbf8f3; }
  .conceptions-table .holidays_column {
    background: #f7fcf3; }
  .conceptions-table th.fixed-td {
    height: 88px; }
  .conceptions-table .fixed-td {
    position: absolute;
    background: white;
    width: 150px;
    z-index: 7;
    border-right: 1px solid #d1d4d7; }
  .conceptions-table.scrolled .fixed-header::before {
    content: '';
    display: block;
    height: 88px;
    width: 150px;
    position: fixed;
    background: #ffffff;
    z-index: 20;
    border-right: 1px solid #d1d4d7; }

.react-bs-container-body {
  background: #fff; }

.table-hover tbody tr:hover .holidays_column, .table-hover tbody tr:hover .average_column {
  background-color: rgba(0, 0, 0, 0.075); }

.fixed-header {
  position: fixed;
  background: #fff;
  z-index: 16;
  border-bottom: 1px solid #d1d4d7; }

@media screen and (max-width: 501px) {
  .conceptions-table {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px; } }
