.profile_page{
  .card-body{
    padding:20px 40px;
    h4.block_title{
      margin-bottom: 9px;
      line-height: 37px;
    }
    .avatar_wrapper{
      width: 180px;
      .avatar_picture{
        width: 100%;
        height: 180px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .buttons{
        padding: 15px 20px;
        line-height: 14px;
        >div{
          display: inline-block;
          cursor:pointer;
          width: 50%;
          font-size: 14px;
          color: #364151;
          font-weight: 400;
          &:first-child{
            text-align:left;
          }
          &:nth-child(2){
            text-align:right;
          }
        }
      }
    }
    .userdata_form,.password_change_form{
      .form-group{
        >label{
          width: 100%;
          margin: 0;
          >span,>input{
            display: inline-block;
            padding: 11px 15px 10px;
            font-size: 14px;
            height: 40px;
            line-height: normal;
            white-space: nowrap;
            border: 1px solid #e9eef1;
            color: #364151;
          }
          >span {
            width: 108px;
            border-radius: 4px 0 0 4px;
            font-weight: 600;
            text-align:right;
          }
          >input{
            width: 350px;
            border-radius: 0 4px 4px 0;
            border-left:none;
          }
          small{
            display: block;
            margin-left: 108px;
            font-size: 12px;
            font-weight: 300;
            color: #364151;
          }
        }
        .btn{
          width: 223px;
          font-size: 18px;
          border-radius: 6px;
          margin-left: 108px;
        }
      }
    }
    .password_change_form{
      .form-group{
        >label{
          >span{
            width: 133px;
            &.repeat-password{
              white-space: normal;
              position: relative;
              padding: 2px 15px;
              top: 8px;
            }
          }
        }
        .btn{
          margin-left: 134px;
        }
      }
    }
    .message{
      width:30%;
      min-width:300px;
      margin:auto;
    }
  }
}


