.profile_page .card-body {
  padding: 20px 40px; }
  .profile_page .card-body h4.block_title {
    margin-bottom: 9px;
    line-height: 37px; }
  .profile_page .card-body .avatar_wrapper {
    width: 180px; }
    .profile_page .card-body .avatar_wrapper .avatar_picture {
      width: 100%;
      height: 180px; }
      .profile_page .card-body .avatar_wrapper .avatar_picture img {
        width: 100%;
        height: 100%; }
    .profile_page .card-body .avatar_wrapper .buttons {
      padding: 15px 20px;
      line-height: 14px; }
      .profile_page .card-body .avatar_wrapper .buttons > div {
        display: inline-block;
        cursor: pointer;
        width: 50%;
        font-size: 14px;
        color: #364151;
        font-weight: 400; }
        .profile_page .card-body .avatar_wrapper .buttons > div:first-child {
          text-align: left; }
        .profile_page .card-body .avatar_wrapper .buttons > div:nth-child(2) {
          text-align: right; }
