$crdbody-padding : 1.3rem;



.app-body_new_margin{
  margin-top:55px
}
.segmentation_btn-wrp{
  margin-top:20px;
  text-align:center;
  .btn{
    border:1px solid #886ce6;
    color: #354052;
    padding: 2px 5px;
    width: 106px;
    background:#fff;
  }
  .btn.active{
    border-radius: 4px;
    background-color: #886ce6;
    color:#fff;
    &:focus{
      box-shadow:none
    }
  }
}

.divider{
  display:none
}


.revenue{
  .segmentation_btn-wrp{
    .btn{
      border:1px solid #f6aa25;
    }
    .btn.active{
      background-color: #f6aa25;
    }
  }
  .floor_btn-wrp{
    .btn.active{
      background-color: #f6aa25;
    }
  }
  .datepicker_wrp{
    input.datepicker {
      border: solid 1px #f6aa25;
    }
  }
}

.floor_btn-wrp{
  .btn{
    color: #7f8fa4;
    background:#fff;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .btn.active{
    border-radius: 4px;
    background-color: #886ce6;
    color:#fff;
    &:focus{
      box-shadow:none
    }
  }
}

.datepicker_wrp{
  display:inline-block;
  &:last-of-type::before{
    content: 'по';
    margin-left: -17px;
    position: absolute;
    margin-top: 0.75%;
    font-size: 12px;
    color: #7f8fa4;
  }
  &:last-child{
    margin-left: 20px;

  }
  input.datepicker {
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: solid 1px #886ce6;
    text-align: center;
    width: 78px;
    font-size: 14px;
    color: #7f8fa4;
    white-space: nowrap;
  }
}

.data_per_month{
  margin-bottom: 19px;
  .header{
    padding: 10px 20px;
    h4{
      padding: 10px 20px;
      color: #354052;
      font-size: 30px;
      padding-bottom: 0;
      margin-bottom: 2px;
    }
    .muted{
      padding-left: 20px;
    }
  }
  >div.card-body{
    overflow:scroll;
    padding: 1.25rem;
    padding-left: 40px;
    ul{
      white-space: nowrap;
      padding: 0;
      li{
        display: inline-block;
        width: 8.3%;
        min-width: 99px;
        .muted{
          font-size:14px
        }
      }
    }
  }
}

.all_data {
  margin-bottom: 50px;
  .datepickers{
    white-space: nowrap;
    .muted{
      margin-right:2px
    }
  }
}

.object-table td,.object-table th{
  text-align:center
}

.react-datepicker-popper{
  z-index: 10;
}

.object_cont{
  margin:auto;
  //margin-right: -13px;
  //margin-left: -13px;
}

.totalSum{
  white-space: nowrap;
  .data{
    color: #354052;
    font-size: 2.3em;
    display:block;
    line-height: 0.8;
  }
}


.muted{
  font-size: 12px;
  text-align: left;
  color: #7f8fa4;
  margin-right: 5px;
}

.measure{
  font-size: 20px;
  font-weight: 600;
  color: #354052;
}


.obj_title{
  padding-bottom: 5px;
  h4{
    font-size: 55px;
    color: #354052;
    white-space: nowrap;
  }
  .muted{
    font-size:14px;
    font-weight: 400;
  }
  a.link_desktop{
    font-size: 20px;
    text-align: left;
    color: #354052;
    box-shadow: inset 0 -3px 0 white, inset 0 -4px 0 #354052;
  }
  .address_mobile{
    display: none;
  }
  a.link_mobile{
    display:none;
    font-size: 14px;
    text-align: left;
    color: #45bce5;
    text-decoration: underline;
    line-height:1;
  }
}



.announce{
  .data_wrapper{
    padding-right: 4px;
    overflow:hidden;
  }
  >.col{
    overflow:hidden;
    max-height:400px;
  }
  > div:first-of-type > .card{
    height:100%;
  }

  margin-bottom: 31px;
  .img_wrapper{
    border-radius:4px;
    img.fullIMG {
      max-width: 100%;
      width: 100%;//удалить если нужно отключить растягивание картинки
      height:100%;
      border-radius: 0 0 3px 3px;
    }
  }

  .geolocation{
    .map_wrapper{
      width: 360px;
      height: 360px;
      zoom:50%;
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      .ymaps-2-1-56-copyright__content{
        display: none;
      }
    }
    .address{
      text-align:center;
      padding:0;
      font-size: 16px;
      color: #7f8fa4;
      margin-top: 14px;
      font-weight: 400;
    }
  }
  .features{
    margin-top:15px;
    >div{
      margin: -2px auto;
      >strong{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: #354052;
      }
      >.muted{
        font-size: 16px;
        color: #7f8fa4;
        font-weight: 400;
      }
    }
  }
}

.average_hours{
  text-align:center;
  padding-bottom: 10px;
  margin-bottom: 19px;
  .title{
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
    //line-height: 2.29;
    color: #7f8fa4;
    white-space: nowrap;
  }
  h4{
    padding: 0px 20px;
    color: #354052;
    font-size: 30px;
    margin-bottom: 2px;
    text-align:left;
  }
  .muted{
    padding-left: 20px;
    white-space: normal;
  }
  .chart-wrapper:not(:first-of-type) .title {
    //padding-left: 33%;

  }
  &.horizontal-bars{
    white-space: nowrap;
    .header{
      padding: 1rem 1rem;
      padding-bottom: 0;
      h4{
        color:#354052;
      }
    }
    .card-body{
      overflow: scroll;
      padding-top: 0;
      ul.ranges {
        display: inline-block;
        position: absolute;
        background: #fff;
        left: 0;
        height: 210px;
        margin-top: -5px;
        padding: 21px 7px 0 10px;
        &.fixed{
          border-right:1px solid rgba(208, 208, 208, 0.5);
        }
        li{
          height: auto;
          line-height: 1.4;
          vertical-align: top;
          list-style: none;
          font-size: 9px;
          margin-bottom: 8.5px;
          color: #7f8fa4;
          &:last-of-type{
            margin-bottom:0
          }
        }
      }
    }
    .chart-wrapper{
      &:first-of-type{
        margin-left:21px;
      }
      &.fixed{
        margin-left:38px;
      }
      display:inline-block;
      max-width:132px;
      margin-right:20px;
      height:200px;
      border: 1px solid #f5f5f5;
      &:not(:first-of-type) .title{
        padding-left: 0%;
      }
    }
  }
  &.vertical-bars{
    .chart-wrapper{
      &:first-of-type{
        //padding-top: 0;
        //position: relative;
        //top: 4px;
      }
      &:not(:first-of-type) .title{
        //top: 6px;
        //position: relative;
      }
      display: inline-block;
      width: 151.3px;
      height: 254px;
      padding: 0;
      border: solid 1px #f5f5f5;
      padding-top: 5.6px;
      position: relative;
      margin: 0 13px;
    }
  }
}

.all_data {
  .card-body{
    padding: 25px 40px;
    h5{
      font-size:30px
    }
  }
  .line-chart-wrapper {
    max-height: 183px;
    margin-top: 15px;
  }
}
@media screen and (min-width:1320px) {
  .muted{
    font-size: 14px;
  }
  .announce{
    img.fullIMG{
      //height:auto!important;
    }
  }
}

@media screen and (min-width:1200px) {
  .announce{
    &.row > div {
      //padding-right: 8px;
      //padding-left: 8px;
      &:first-of-type{
        .card{
          height: 100%;
        }
      }
    }
    .img_wrapper,.data_wrapper{
      max-height:427px;
    }
    .card-body{
      padding: 25px 40px;
    }
  }
}

@media screen and (max-width:1199px) {
  .announce {
    > div:first-of-type {
      padding-right: 8px;
      > .card {
        overflow: hidden
      }
    }
    .img_wrapper{
      max-height:320px;
      padding-left: 8px;
    }
    .features {
      > div {
        > strong {
          font-size: 15px;
        }
        .muted{
          font-size: 13px;
        }
      }
    }
    .geolocation {
      .map_wrapper {
        width: 100px;
        height: 100px
      }
      .address{
        font-size:14px;
      }
    }
    .obj_title h4 {
      font-size: 32px;
    }
  }

  .datepicker_wrp{
    &:last-child {
      margin-left: 20px;
      &::before{
        margin-left: -17px;
        margin-top: 5px;
      }
    }

  }
}

@media screen and (min-width:992px) and (max-width: 1060px) {
  .totalSum{
    .muted{
      font-size:11px
    }
  }
}

@media screen and (max-width:991px) {
  .announce{
    .img_wrapper{
      max-height:300px;
      img.fullIMG{
        height:auto;
      }
    }
  }

  .object_cont{
    margin-right: auto;
    margin-left: auto;
  }
  .average_hours{
    &.horizontal-bars{
      h4{
        font-size: 18px;
        font-weight: 400;
      }
      .card-body{
        overflow: scroll;
      }
    }
  }

  .all_data {
    .row:first-of-type{
      >div:first-of-type{
        white-space: nowrap;
      }
    }
    .datepicker_wrp{
      input.datepicker{
        width: 73px;
        font-size: 12px;
      }
    }
  }

}

@media screen and (max-width:767px){
  .object_cont{
    width:100%;
    margin:auto;
    margin-top: 0;
    padding: 0 15px;
    overflow-x: hidden;
    .announce{
      > div:first-of-type{
        padding-right: 15px;
      }
      .img_wrapper{
        max-height:280px;
        padding-left: 15px;
      }
      .geolocation {
        display:none
      }
      .obj_title{
        h4{
          font-size: 18px;
        }
        .address_mobile{
          display: block;
          &.muted{
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        a.link_mobile{
          display:block
        }
        a.link_desktop{
          display: none;
        }
      }
    }
    .features{
      >div{
        >strong{
          font-size: 16px;
        }
        >.muted{
          font-size: 14px;
        }
      }
    }
    .data_per_month{
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 20px;
        .header h4 {
          font-size: 18px;
          font-weight: 400;
        }
    }
    .all_data{
      margin-top: 20px;
      .line-chart-wrapper {
        padding: 10px 0px;
      }
    }
    .horizontal-bars{
      margin-right: -15px;
      margin-left: -15px;
    }
    .segmentation_btn-wrp{
      padding: 0 10px;
      .btn-group{
        max-width:100%;
        .btn{
          max-width: 100px;
          font-size: 14px;
          padding: 2px 0px;
        }
      }
    }
    .totalSum {
      .data {
        margin-top: 15px;
      }
    }
    .floor_btn-wrp{
      margin-top:15px
    }
    .divider{
      margin-right: -$crdbody-padding;
      margin-left: -$crdbody-padding;
      margin-top: 10px;
      margin-bottom: 10px;
      display:block;
    }
    input[type="date"]::-webkit-clear-button {
      display: none;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }

  }
}

@media screen and (max-width:575px){
  .object_cont {
    .announce{
      .features{
        margin-top: 0;
        >div{
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 5px;
        }
      }
      .img_wrapper{
        max-height:190px;
      }
      .obj_title{
        h4{
          font-size: 16px;
          margin-bottom: 2px;
        }
        .address_mobile{
          &.muted{
            font-size: 12px;
          }
        }
      }
    }
    .features{
      >div{
        >strong{
          font-size: 14px;
        }
        >.muted{
          font-size: 12px;
        }
      }
    }
    .segmentation_btn-wrp {
      .btn-group {
        .btn {
          font-size: 12px;
        }
      }
    }
    .datepicker_wrp{
      input.datepicker {
        font-size: 12px;
      }
    }
  }

}

@media screen and (max-width:320px){
  .object_cont{
    .datepicker_wrp{
      &:last-of-type{
        input.datepicker {
          margin-right: -15px;
        }
      }
      input.datepicker {
        width: 63px;
        font-size: 9px;
      }
      &:last-of-type{
        margin-left: 7%;
        &::before{
          margin-left: -5.5%;
          margin-top: 1.75%;
        }
      }
      .segmentation_btn-wrp .btn-group .btn{
        font-size:11px;
      }
    }
  }


}
