@charset "UTF-8";
.segmentation_btn-wrp {
  margin-top: 20px;
  text-align: center; }
  .segmentation_btn-wrp .btn {
    border: 1px solid #886ce6;
    color: #354052;
    width: 106px;
    background: #fff; }
  .segmentation_btn-wrp .btn.active {
    border-radius: 4px;
    background-color: #886ce6;
    color: #fff; }
    .segmentation_btn-wrp .btn.active:focus {
      box-shadow: none; }

.revenue .segmentation_btn-wrp .btn {
  border: 1px solid #f6aa25; }

.revenue .segmentation_btn-wrp .btn.active {
  background-color: #f6aa25; }

.revenue .floor_btn-wrp .btn.active {
  background-color: #f6aa25; }

.revenue .datepicker_wrp input.datepicker {
  border: solid 1px #f6aa25; }

.floor_btn-wrp .btn {
  color: #354052;
  background: #fff; }

.floor_btn-wrp .btn.active {
  border-radius: 4px;
  background-color: #886ce6;
  color: #fff; }
  .floor_btn-wrp .btn.active:focus {
    box-shadow: none; }

.datepicker_wrp {
  display: inline-block; }
  .datepicker_wrp:last-of-type::before {
    content: 'по';
    margin-left: -3.5%;
    position: absolute;
    margin-top: 0.75%;
    font-size: 12px;
    color: #7f8fa4; }
  .datepicker_wrp:last-child {
    margin-left: 5%; }
  .datepicker_wrp input.datepicker {
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: solid 1px #886ce6;
    text-align: center;
    width: 73px;
    color: #7f8fa4; }

.data_per_month .header {
  padding: 1rem 2rem; }
  .data_per_month .header h4 {
    color: #354052; }

.data_per_month > div.card-body {
  overflow: scroll;
  padding: 1.25rem; }
  .data_per_month > div.card-body ul {
    white-space: nowrap;
    padding: 0; }
    .data_per_month > div.card-body ul li {
      display: inline-block;
      width: 8.3%; }
      .data_per_month > div.card-body ul li .muted {
        font-size: 14px; }

.object-table td, .object-table th {
  text-align: center; }

.react-datepicker-popper {
  z-index: 10; }

.object_cont {
  margin: auto; }
  .object_cont .card-body:last-child {
    padding: 2rem; }

.totalSum {
  margin-top: 3%; }
  .totalSum .data {
    color: #354052;
    font-size: 3em;
    display: block;
    line-height: 0.8; }

.muted {
  font-size: 12px;
  text-align: left;
  color: #7f8fa4;
  margin-right: 5px; }

.measure {
  font-size: 20px;
  font-weight: 600;
  color: #354052; }

.fullIMG {
  width: 100%; }

.obj_title {
  margin-top: 18%;
  padding-bottom: 5px;
  border-bottom: 1px solid #dfe2e5; }
  .obj_title .muted {
    font-size: 14px;
    font-weight: 400; }
  .obj_title a {
    font-size: 14px;
    text-align: left;
    color: #45bce5;
    text-decoration: underline;
    margin-left: 10px; }

.features > div {
  margin: 7px auto; }
  .features > div > strong {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #354052; }

.announce {
  padding: 0 50px; }

@media screen and (max-width: 791px) {
  .object_cont {
    width: 100%;
    margin: auto; } }
