@charset "UTF-8";
.object_cont {
  padding-bottom: 30px; }
  .object_cont h5 {
    font-size: 30px;
    color: #354052;
    margin-bottom: 0; }
  .object_cont .card {
    margin-bottom: 30px; }
  .object_cont .inner_objects .card-body {
    padding: 25px 0px 25px 40px; }
  .object_cont .inner_objects .list_wrapper {
    margin-top: 30px;
    padding-left: 0;
    margin-bottom: 0; }
    .object_cont .inner_objects .list_wrapper.plurableColumns {
      -webkit-column-count: 6;
      /* Chrome, Safari, Opera */
      -moz-column-count: 6;
      /* Firefox */
      column-count: 6; }
    .object_cont .inner_objects .list_wrapper.singleColumn {
      -webkit-column-count: 1;
      /* Chrome, Safari, Opera */
      -moz-column-count: 1;
      /* Firefox */
      column-count: 1; }
    .object_cont .inner_objects .list_wrapper.doubleColumns {
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2; }
    .object_cont .inner_objects .list_wrapper.tripleColumns {
      -webkit-column-count: 3;
      /* Chrome, Safari, Opera */
      -moz-column-count: 3;
      /* Firefox */
      column-count: 3; }
    .object_cont .inner_objects .list_wrapper.quadColumns {
      -webkit-column-count: 4;
      /* Chrome, Safari, Opera */
      -moz-column-count: 4;
      /* Firefox */
      column-count: 4; }
    .object_cont .inner_objects .list_wrapper .last-item {
      margin-bottom: 20px !important; }
    .object_cont .inner_objects .list_wrapper li {
      list-style: none;
      line-height: 22px;
      font-size: 18px;
      font-weight: 500;
      color: #354052; }
      .object_cont .inner_objects .list_wrapper li.title {
        display: block;
        cursor: pointer; }
        .object_cont .inner_objects .list_wrapper li.title > a {
          display: inline-block;
          margin-bottom: 10px;
          margin-top: 5px;
          font-weight: 400;
          font-size: 14px;
          color: #7f8fa4;
          text-decoration: none;
          text-decoration: underline;
          cursor: pointer;
          line-height: 17px; }
      .object_cont .inner_objects .list_wrapper li.accordeon:not(:last-child) {
        margin-bottom: 20px; }
      .object_cont .inner_objects .list_wrapper li.accordeon .title {
        border-bottom: 2px dashed rgba(127, 143, 164, 0.6); }
      .object_cont .inner_objects .list_wrapper li.accordeon .collapse {
        padding-top: 15px; }
      .object_cont .inner_objects .list_wrapper li.accordeon a.list-item {
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        color: #7f8fa4;
        text-decoration: none;
        text-decoration: underline;
        cursor: pointer;
        line-height: 17px; }
      .object_cont .inner_objects .list_wrapper li.list-item {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        color: #7f8fa4;
        cursor: pointer;
        line-height: 17px; }
        .object_cont .inner_objects .list_wrapper li.list-item a {
          border-bottom: 1px solid #7f8fa4;
          line-height: 10px;
          display: inline-block;
          white-space: nowrap;
          color: #7f8fa4; }
  .object_cont .abcAnalysis .card-body {
    padding: 25px 40px 17px; }
    .object_cont .abcAnalysis .card-body .interface {
      margin-top: 20px; }
    .object_cont .abcAnalysis .card-body .excellLinkWrapper {
      text-align: center;
      background-position: 100%;
      margin-right: 0;
      margin-top: 10px; }
    .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper {
      position: relative;
      height: 421px;
      border: solid 1px #f2f2f2;
      margin-top: 15px; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .notation {
        position: absolute;
        color: #7f8fa4; }
        .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .notation div {
          font-size: 14px;
          font-weight: 400;
          line-height: normal; }
          .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .notation div.bold {
            font-weight: 500; }
          .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .notation div.header {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
            line-height: 24px; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .right {
        right: 0.7%;
        text-align: right; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .left {
        left: 0.7%; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .top {
        top: 1.8%; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .bottom {
        top: 61%; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .middleX {
        left: 41%; }
      .object_cont .abcAnalysis .card-body .abcAnalysis_chart_wrapper .middleY {
        top: 42%; }
    .object_cont .abcAnalysis .card-body .Select {
      width: 165px;
      font-size: 13px;
      border: solid 1px #886ce6;
      border-radius: 3px;
      padding: 2px;
      display: inline-block;
      position: absolute; }
      .object_cont .abcAnalysis .card-body .Select .Select-control {
        border: none;
        height: 20px; }
        .object_cont .abcAnalysis .card-body .Select .Select-control .Select-input {
          height: 20px; }
          .object_cont .abcAnalysis .card-body .Select .Select-control .Select-input > input {
            padding: 0; }
        .object_cont .abcAnalysis .card-body .Select .Select-control .Select-arrow {
          border: none;
          background-image: url("/img/dropdown.png");
          width: 9px;
          height: 6px; }
        .object_cont .abcAnalysis .card-body .Select .Select-control .Select-placeholder {
          cursor: pointer;
          color: #354052;
          font-weight: 400;
          line-height: 20px; }
        .object_cont .abcAnalysis .card-body .Select .Select-control .Select-value {
          display: none; }
        .object_cont .abcAnalysis .card-body .Select .Select-control span.Select-clear-zone {
          display: none; }
      .object_cont .abcAnalysis .card-body .Select .Select-menu-outer {
        border: 1px solid #886be6;
        top: 25px; }
        .object_cont .abcAnalysis .card-body .Select .Select-menu-outer .Select-option {
          padding-left: 6px; }
      .object_cont .abcAnalysis .card-body .Select.is-open {
        border-bottom: none;
        border-radius: 3px 3px 0 0; }
        .object_cont .abcAnalysis .card-body .Select.is-open .Select-arrow {
          background-image: url("/img/dropup.png"); }
        .object_cont .abcAnalysis .card-body .Select.is-open .Select-menu-outer {
          border-top: none;
          width: 165px;
          margin-left: -1px; }
      .object_cont .abcAnalysis .card-body .Select.is-focused .Select-control {
        box-shadow: none; }
    .object_cont .abcAnalysis .card-body .buttons .btn {
      padding: 2px 3px;
      margin-right: 20px;
      border-radius: 0; }
    .object_cont .abcAnalysis .card-body .buttons .active {
      border-radius: 4px;
      background-color: #886ce6 !important;
      color: #fff !important;
      border-bottom: 1.5px solid transparent; }
      .object_cont .abcAnalysis .card-body .buttons .active:focus {
        box-shadow: none; }

.checked {
  height: 9px;
  width: 9px;
  display: inline-block;
  margin-right: 3px; }
  .checked.y2018 {
    background-color: #74c2e8; }
  .checked.y2017 {
    background-color: #9fd473; }
  .checked.y2016 {
    background-color: #8570CE; }
  .checked.y2015 {
    background-color: #ed8455; }
  .checked.y2014 {
    background-color: #e06c89; }

.app-body_new_margin {
  margin-top: 55px; }

.new_position_for_ham {
  top: 0 !important;
  margin-top: -2px; }

.segmentation_btn-wrp {
  margin-top: 20px;
  text-align: center; }
  .segmentation_btn-wrp .btn {
    border: 1px solid #886ce6;
    color: #354052;
    padding: 2px 5px;
    width: 106px;
    background: #fff; }
  .segmentation_btn-wrp .btn.active {
    border-radius: 4px;
    background-color: #886ce6;
    color: #fff; }
    .segmentation_btn-wrp .btn.active:focus {
      box-shadow: none; }

.excellLinkWrapper {
  background: url("/img/icons/excell.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  width: 155px;
  margin: auto;
  margin-right: 40px; }
  .excellLinkWrapper .excellLink {
    font-size: 14px;
    text-align: left;
    color: #7f8fa4 !important;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    border-bottom: 1px #7f8fa4 dashed; }
    .excellLinkWrapper .excellLink::after {
      position: absolute;
      right: -28px;
      top: -3px; }

.child-half-opacity .linechart_area_wrapper, .child-half-opacity .linechart_area_wrapper_small {
  opacity: 0.5; }

.underline {
  text-decoration: underline; }

.divider {
  display: none; }

.filter_btn {
  color: #7f8fa4;
  background: transparent;
  border-bottom: 1.5px dashed rgba(127, 143, 164, 0.5); }

.revenue .segmentation_btn-wrp .btn {
  border: 1px solid #f6aa25; }

.revenue .segmentation_btn-wrp .btn.active {
  background-color: #f6aa25; }

.revenue .floor_btn-wrp .btn.active {
  background-color: #f6aa25 !important; }

.revenue .datepicker_wrp input.datepicker {
  border: solid 1px #f6aa25; }

.floor_btn-layer {
  margin-top: -50px;
  margin-bottom: 25px; }

.floor_btn-wrp {
  background-color: rgba(247, 245, 252, 0.7);
  display: inline-block;
  padding: 15px;
  width: 100%; }
  .floor_btn-wrp .btn {
    padding: 2px;
    margin-right: 20px;
    border-radius: 0; }
    .floor_btn-wrp .btn:first-child {
      display: block;
      margin-bottom: 12px; }
      .floor_btn-wrp .btn:first-child:after {
        content: ' или выберите конкретный срез:';
        color: #8696a9;
        position: absolute;
        margin-left: 15px; }
  .floor_btn-wrp .btn.active {
    border-radius: 4px;
    background-color: #886ce6 !important;
    color: #fff !important;
    border-bottom: 1.5px solid transparent; }
    .floor_btn-wrp .btn.active:focus {
      box-shadow: none; }

.datepicker_wrp {
  display: inline-block; }
  .datepicker_wrp ::-webkit-inner-spin-button, .datepicker_wrp ::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none; }
  .datepicker_wrp:last-of-type::before {
    content: 'по';
    margin-left: -22px;
    position: absolute;
    margin-top: 2.7px;
    font-size: 14px;
    color: #7f8fa4; }
  .datepicker_wrp:last-child {
    margin-left: 30px; }
  .datepicker_wrp input.datepicker {
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: solid 1px #886ce6;
    text-align: center;
    width: 85px;
    font-size: 14px;
    color: #7f8fa4;
    white-space: nowrap; }
    .datepicker_wrp input.datepicker:disabled {
      background: none; }

.data_per_month {
  margin-bottom: 30px; }
  .data_per_month .header {
    padding: 25px 40px; }
    .data_per_month .header .data {
      color: #354052;
      font-size: 2.3em;
      display: block;
      line-height: 44px;
      margin-top: 2px;
      margin-left: 30px;
      white-space: nowrap; }
    .data_per_month .header .data + .muted {
      margin-left: 30px;
      white-space: nowrap; }
    .data_per_month .header h4 {
      color: #354052;
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 0;
      margin-bottom: 2px;
      white-space: nowrap; }
    .data_per_month .header .muted {
      font-size: 14px;
      line-height: 17px; }
  .data_per_month div.card-body {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 8px;
    padding-left: 40px;
    padding-bottom: 15px; }
    .data_per_month div.card-body::-webkit-scrollbar-thumb {
      background: #e1e4e6; }
    .data_per_month div.card-body ul {
      line-height: default;
      min-width: 1274px;
      height: 38px;
      margin: 0px;
      white-space: nowrap;
      padding: 0; }
      .data_per_month div.card-body ul li {
        display: inline-block;
        width: 6.7%;
        min-width: 46px;
        margin-right: 1.8%; }
        .data_per_month div.card-body ul li:last-of-type {
          margin-right: 5px;
          width: 60px; }
        .data_per_month div.card-body ul li div {
          height: 18px;
          line-height: 18px; }
          .data_per_month div.card-body ul li div strong {
            height: 18px;
            font-size: 14px;
            font-weight: 600;
            min-width: 99px; }
        .data_per_month div.card-body ul li .muted {
          height: 18px;
          font-size: 14px;
          line-height: 18px;
          font-size: 14px; }

.all_data .year_selector {
  margin-top: 15px; }
  .all_data .year_selector div {
    display: inline-block; }
  .all_data .year_selector .year_selector_list {
    margin-left: 3px; }
    .all_data .year_selector .year_selector_list .year {
      cursor: pointer;
      border-radius: 4px;
      border: solid 1px #e3e3e3;
      margin-right: 10px;
      padding: 0px 3px;
      line-height: normal; }
      .all_data .year_selector .year_selector_list .year > span {
        font-size: 14px;
        color: #7f8fa4; }
      .all_data .year_selector .year_selector_list .year .checkbox {
        width: 12px;
        height: 12px;
        border: solid 1px #e3e3e3;
        position: relative;
        top: 1px;
        margin-right: 5px; }
        .all_data .year_selector .year_selector_list .year .checkbox.checked.y2018 {
          background-color: #74c2e8;
          border: solid 1px #74c2e8; }
        .all_data .year_selector .year_selector_list .year .checkbox.checked.y2017 {
          background-color: #9fd473;
          border: solid 1px #9fd473; }
        .all_data .year_selector .year_selector_list .year .checkbox.checked.y2016 {
          background-color: #8570CE;
          border: solid 1px #8570CE; }
    .all_data .year_selector .year_selector_list .dropdown {
      width: 65px !important;
      border-radius: 4px;
      border: solid 1px #e3e3e3;
      padding: 0px 6px;
      line-height: normal;
      z-index: 1;
      background: #fff; }
      .all_data .year_selector .year_selector_list .dropdown .btn {
        padding: 0;
        color: #7f8fa4;
        line-height: 1;
        background: none; }
        .all_data .year_selector .year_selector_list .dropdown .btn:focus {
          box-shadow: none; }
      .all_data .year_selector .year_selector_list .dropdown .dropdown-toggle::after {
        content: url("/img/dropdown.png");
        border: none;
        margin-top: -1px;
        position: absolute; }
      .all_data .year_selector .year_selector_list .dropdown .dropdown-menu {
        min-width: 60px;
        margin-top: -2px;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        width: 65px;
        margin-left: -1px;
        padding: 0 7px; }
        .all_data .year_selector .year_selector_list .dropdown .dropdown-menu .year {
          display: block;
          border: none;
          margin: 10px auto;
          padding: 0;
          white-space: nowrap; }
          .all_data .year_selector .year_selector_list .dropdown .dropdown-menu .year .y2015.checked {
            background-color: #ed8455;
            border: solid 1px #ed8455; }
          .all_data .year_selector .year_selector_list .dropdown .dropdown-menu .year .y2014.checked {
            background-color: #e06c89;
            border: solid 1px #e06c89; }
          .all_data .year_selector .year_selector_list .dropdown .dropdown-menu .year span {
            margin-left: 3px; }

.all_data .datepickers {
  white-space: nowrap; }
  .all_data .datepickers .muted {
    margin-right: 2px; }

.all_data h5 {
  margin-bottom: 0.5rem;
  display: inline-block; }

.all_data .comparison_mode-wrp {
  display: inline-block;
  line-height: 33px;
  margin-left: 15px;
  margin-bottom: 0.5rem;
  white-space: nowrap; }
  .all_data .comparison_mode-wrp.active .outer_circle {
    border: solid 1px rgba(183, 225, 167, 0.4); }
    .all_data .comparison_mode-wrp.active .outer_circle .inner_circle {
      background-color: #b7e1a7; }
  .all_data .comparison_mode-wrp .outer_circle {
    width: 11px;
    height: 11px;
    border: solid 1px #f4f4f4;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    top: 2px;
    position: relative; }
    .all_data .comparison_mode-wrp .outer_circle .inner_circle {
      width: 7px;
      height: 7px;
      background: #d8d8d8;
      border-radius: 50%;
      margin: auto;
      margin-top: 1px; }
  .all_data .comparison_mode-wrp .btn {
    color: #7f8fa4;
    background: transparent;
    border-bottom: 1.5px dashed rgba(127, 143, 164, 0.5);
    padding: 2px 0;
    margin-right: 20px;
    margin-left: 3px;
    border-radius: 0; }
    .all_data .comparison_mode-wrp .btn:focus {
      box-shadow: none; }

.object-table td, .object-table th {
  text-align: center; }

.react-datepicker-popper {
  z-index: 10; }

.object_cont {
  margin: auto; }

.totalSum {
  white-space: nowrap; }
  .totalSum .data {
    color: #354052;
    font-size: 2.3em;
    display: block;
    line-height: 0.8; }

.muted {
  font-size: 12px;
  text-align: left;
  color: #7f8fa4;
  margin-right: 5px; }

.measure {
  font-size: 20px;
  font-weight: 600;
  color: #354052; }

.obj_title {
  padding-bottom: 5px; }
  .obj_title h4 {
    font-size: 55px;
    line-height: 68px;
    color: #354052;
    white-space: nowrap;
    margin: 0px !important; }
  .obj_title .muted {
    font-size: 14px;
    font-weight: 400; }
  .obj_title a.link_desktop {
    font-size: 20px;
    text-align: left;
    color: #354052;
    box-shadow: inset 0 -3px 0 white, inset 0 -4px 0 #354052;
    font-weight: 400; }
  .obj_title .address_mobile {
    display: none; }
  .obj_title a.link_mobile {
    display: none;
    font-size: 14px;
    text-align: left;
    color: #45bce5;
    text-decoration: underline;
    line-height: 0; }

.announce {
  margin-bottom: 31px; }
  .announce .data_wrapper {
    overflow: hidden; }
  .announce > .col {
    overflow: hidden;
    max-height: 400px; }
  .announce > div:first-of-type > .card {
    height: 100%; }
  .announce .img_wrapper {
    border-radius: 4px; }
  .announce .img_wrapper_full {
    background-position: center center;
    background-size: cover;
    border: 1px solid #d1d4d7; }
  .announce .img_wrapper_def {
    border: 1px solid #d1d4d7;
    background-position: center center;
    background-size: 525px;
    background-repeat: no-repeat;
    background-color: #ffffff; }
  .announce .geolocation .map_wrapper {
    width: 360px;
    height: 360px;
    zoom: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto; }
    .announce .geolocation .map_wrapper .ymaps-2-1-56-copyright__content {
      display: none; }
  .announce .geolocation .address {
    text-align: center;
    padding: 0;
    font-size: 14px;
    color: #7f8fa4;
    margin-top: 13px;
    font-weight: 400; }
  .announce .features {
    margin-top: 25px;
    display: flex;
    flex-direction: column; }
    .announce .features > div {
      line-height: 24px;
      margin-bottom: 4px;
      white-space: nowrap; }
      .announce .features > div.opening_day {
        flex: 1 0 auto; }
      .announce .features > div.social_links {
        margin-bottom: -5px !important; }
        .announce .features > div.social_links a {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          cursor: pointer;
          margin-right: 20px; }
          .announce .features > div.social_links a.vk {
            background: url("/img/icons/vk.png"); }
          .announce .features > div.social_links a.fb {
            background: url("/img/icons/fb.png"); }
          .announce .features > div.social_links a.ig {
            background: url("/img/icons/ig.png"); }
      .announce .features > div > strong {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        text-align: left;
        color: #354052;
        padding-right: 5px; }
      .announce .features > div > .muted {
        font-size: 16px;
        color: #7f8fa4;
        line-height: 24px;
        font-weight: 400; }
      .announce .features > div > .muted-bold {
        font-size: 16px;
        color: #354052;
        line-height: 24px;
        font-weight: 500; }
    .announce .features .floor_plans {
      text-decoration: underline;
      margin-top: 30px; }

.average_hours {
  text-align: center;
  margin-bottom: 30px; }
  .average_hours .title {
    text-align: center;
    padding-left: 0px;
    font-size: 14px;
    color: #7f8fa4;
    white-space: nowrap;
    margin-top: 4px; }
  .average_hours h4 {
    padding: 0px 20px;
    color: #354052;
    font-size: 30px;
    margin-bottom: 2px;
    text-align: left; }
  .average_hours .muted {
    padding-left: 20px;
    white-space: normal; }
  .average_hours.horizontal-bars {
    white-space: nowrap; }
    .average_hours.horizontal-bars .header {
      padding: 1rem 1rem;
      padding-bottom: 0; }
      .average_hours.horizontal-bars .header h4 {
        color: #354052; }
    .average_hours.horizontal-bars .card-body {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-top: 0;
      padding-bottom: 30px; }
      .average_hours.horizontal-bars .card-body::-webkit-scrollbar-thumb {
        background: #e1e4e6; }
      .average_hours.horizontal-bars .card-body ul.ranges {
        display: inline-block;
        position: absolute;
        background: #fff;
        left: 0;
        height: 130px;
        margin-top: -5.5px;
        padding: 18px 7px 0 10px; }
        .average_hours.horizontal-bars .card-body ul.ranges.fixed {
          box-shadow: 4px 0px 4px -4px #d7d9db; }
        .average_hours.horizontal-bars .card-body ul.ranges li {
          height: auto;
          line-height: 1.4;
          vertical-align: top;
          list-style: none;
          font-size: 9px;
          font-weight: 400;
          margin-bottom: 4px;
          color: #7f8fa4; }
          .average_hours.horizontal-bars .card-body ul.ranges li:last-of-type {
            margin-bottom: 0; }
    .average_hours.horizontal-bars .chart-wrapper {
      display: inline-block;
      max-width: 132px;
      margin-right: 20px;
      height: 113px;
      border: 1px solid #f5f5f5;
      border-radius: 4px; }
      .average_hours.horizontal-bars .chart-wrapper:first-of-type {
        margin-left: 21px; }
      .average_hours.horizontal-bars .chart-wrapper.fixed {
        margin-left: 38px; }
      .average_hours.horizontal-bars .chart-wrapper:not(:first-of-type) .title {
        padding-left: 0%; }
  .average_hours.vertical-bars .bars_wrapper {
    display: flex; }
    .average_hours.vertical-bars .bars_wrapper .chart-wrapper {
      display: inline-block;
      width: 151.3px;
      height: 254px;
      padding: 0;
      border: solid 1px #f5f5f5;
      position: relative;
      margin: auto; }
      .average_hours.vertical-bars .bars_wrapper .chart-wrapper:first-of-type {
        margin-left: 30px; }

.all_data .card-body {
  padding: 25px 0px 25px 40px;
  overflow: hidden; }
  .all_data .card-body h5 {
    font-size: 30px; }

.all_data .error-message {
  text-align: center;
  font-size: 2em;
  height: 200px;
  line-height: 220px; }

.all_data .line-chart-wrapper {
  margin-top: 15px; }
  .all_data .line-chart-wrapper > #scrollYAxis {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 15px;
    pointer-events: none; }
  .all_data .line-chart-wrapper .scrolled {
    background: #fff;
    border-right: 1px solid transparent;
    padding-bottom: 33px;
    display: block !important; }
  .all_data .line-chart-wrapper .linechart_area_wrapper {
    min-height: 200px; }
  .all_data .line-chart-wrapper .linechart_area_wrapper_small {
    height: 120px; }

@media screen and (min-width: 1444px) {
  .announce.row > div:first-of-type .card {
    height: 100%; }
  .announce .img_wrapper, .announce .data_wrapper {
    max-height: 400px;
    max-width: 49.5%; }
    .announce .img_wrapper img, .announce .data_wrapper img {
      display: none; }
  .announce .card-body {
    padding: 40px 35px 16px 40px; } }

@media screen and (min-width: 1320px) {
  .muted {
    font-size: 14px; }
  .totalSum .data {
    margin-top: -25px; } }

@media screen and (max-width: 1444px) {
  .announce > div:first-of-type {
    padding-right: 8px;
    max-height: 340px; }
    .announce > div:first-of-type > .card {
      overflow: hidden; }
  .announce .img_wrapper {
    max-height: 340px;
    padding-left: 8px;
    max-width: 48%; }
  .announce .img_wrapper_def {
    background-size: 400px; }
  .announce .features > div > strong {
    font-size: 15px; }
  .announce .features > div .muted {
    font-size: 13px; }
  .announce .geolocation .map_wrapper {
    display: none; }
  .announce .geolocation .address {
    font-size: 14px; }
  .announce .obj_title h4 {
    font-size: 32px; }
  .datepicker_wrp:last-child {
    margin-left: 20px; }
    .datepicker_wrp:last-child::before {
      margin-left: -17px; } }

@media screen and (min-width: 992px) and (max-width: 1260px) {
  .all_data .comparison_mode-wrp .btn {
    font-size: 12px; } }

@media screen and (min-width: 992px) and (max-width: 1060px) {
  .totalSum .muted {
    font-size: 11px; } }

@media screen and (max-width: 1200px) {
  .object_cont .excellLink {
    display: none; }
  .object_cont .inner_objects .list_wrapper.plurableColumns {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4; }
  .object_cont .totalSum .data {
    font-size: 28px; }
  .object_cont .totalSum .muted {
    white-space: normal; }
  .object_cont .floor_btn-wrp .btn:first-child {
    display: inline-block;
    margin-bottom: 0; }
    .object_cont .floor_btn-wrp .btn:first-child:after {
      display: none; } }

@media screen and (max-width: 991px) {
  .announce .img_wrapper img.fullIMG {
    height: auto; }
  .card {
    border: 1px solid #dfe2e5; }
  .object_cont {
    margin-right: auto;
    margin-left: auto; }
  .average_hours {
    border: 0px;
    border-radius: 0px; }
    .average_hours.horizontal-bars h4 {
      padding-left: 0px;
      font-size: 18px;
      font-weight: 400; }
    .average_hours.horizontal-bars .muted {
      padding-left: 0px; }
    .average_hours.horizontal-bars .card-body {
      overflow-x: scroll;
      overflow-y: hidden; }
    .average_hours.horizontal-bars .title {
      padding-bottom: 2px; }
  .data_per_month {
    border: 0px;
    border-radius: 0px; }
    .data_per_month .header .data, .data_per_month .header .data + .muted {
      margin-left: 0; }
  .all_data .row:first-of-type > div:first-of-type {
    white-space: nowrap; }
  .all_data .comparison_mode-wrp .btn {
    font-size: 12px; }
  .all_data .datepicker_wrp input.datepicker {
    width: auto;
    font-size: 12px; }
    .all_data .datepicker_wrp input.datepicker::-webkit-clear-button {
      display: none; }
    .all_data .datepicker_wrp input.datepicker::-webkit-inner-spin-button {
      display: none; }
    .all_data .datepicker_wrp input.datepicker::-webkit-calendar-picker-indicator {
      display: none; }
  .all_data .floor_btn-wrp {
    display: block; }
  .all_data .line-chart-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: static; }
    .all_data .line-chart-wrapper > #scrollYAxis {
      display: none; }
    .all_data .line-chart-wrapper .linechart_area_wrapper {
      width: 1244px; }
    .all_data .line-chart-wrapper .linechart_area_wrapper_small {
      width: 700px; }
  .all_data .line-chart-wrapper_small {
    position: relative;
    left: -7px; } }

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none; }
  .object_cont {
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding: 0 15px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
    .object_cont .card {
      margin-bottom: 20px; }
    .object_cont::-webkit-scrollbar {
      display: none; }
    .object_cont .announce {
      padding: 0 15px;
      margin-bottom: 20px;
      margin-top: 16px; }
      .object_cont .announce > div:first-of-type {
        padding-right: 0;
        padding-left: 0; }
      .object_cont .announce .data_wrapper .card {
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 5px; }
        .object_cont .announce .data_wrapper .card .card-body {
          padding-top: 16px;
          padding-bottom: 13px; }
      .object_cont .announce .img_wrapper {
        border-color: #dfe2e5;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        max-height: 280px;
        height: 280px;
        padding-left: 15px;
        max-width: none; }
      .object_cont .announce .geolocation {
        display: none; }
      .object_cont .announce .obj_title h4 {
        font-size: 18px;
        line-height: 20px; }
      .object_cont .announce .obj_title .address_mobile {
        display: block; }
        .object_cont .announce .obj_title .address_mobile.muted {
          font-size: 16px;
          margin-bottom: 0; }
      .object_cont .announce .obj_title a.link_mobile {
        display: block;
        line-height: normal;
        text-align: center; }
      .object_cont .announce .obj_title a.link_desktop {
        display: none; }
    .object_cont .average_hours {
      -webkit-overflow-scrolling: touch; }
      .object_cont .average_hours .scrollHider {
        overflow-y: hidden;
        margin-top: -10px;
        margin-bottom: 20px; }
        .object_cont .average_hours .scrollHider div.card-body {
          margin-bottom: -12px;
          margin-top: 10px; }
    .object_cont .features {
      padding-right: 0; }
      .object_cont .features > div.social_links {
        text-align: right;
        margin-top: 8px;
        margin-bottom: -10px !important; }
        .object_cont .features > div.social_links a {
          width: 23px;
          height: 23px;
          margin-right: 15px;
          background-size: contain !important; }
          .object_cont .features > div.social_links a:last-child {
            margin-right: 8px; }
      .object_cont .features > div > strong {
        font-size: 16px;
        padding-right: 6px; }
      .object_cont .features > div > .muted-bold {
        font-size: 12px; }
      .object_cont .features > div > .muted {
        font-size: 14px; }
      .object_cont .features .floor_plans {
        margin-top: 10px; }
    .object_cont .data_per_month {
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .object_cont .data_per_month .header {
        padding-left: 35px;
        padding-top: 17px;
        padding-right: 5px;
        padding-bottom: 20px; }
        .object_cont .data_per_month .header h4 {
          font-size: 18px;
          font-weight: 400;
          line-height: normal; }
        .object_cont .data_per_month .header .muted {
          font-size: 12px; }
      .object_cont .data_per_month .scrollHider {
        overflow-y: hidden;
        margin-top: -10px;
        margin-bottom: 20px; }
      .object_cont .data_per_month div.card-body {
        padding-left: 35px;
        padding-top: 0px;
        padding-bottom: 11px;
        top: 10px;
        position: relative; }
        .object_cont .data_per_month div.card-body ul {
          min-width: 500px; }
          .object_cont .data_per_month div.card-body ul li {
            margin-right: 10%; }
            .object_cont .data_per_month div.card-body ul li.average {
              width: 95px;
              margin-right: 16px;
              background-color: #f6f7f7;
              border-radius: 4px;
              padding: 0 8px; }
            .object_cont .data_per_month div.card-body ul li div strong {
              font-size: 12px; }
            .object_cont .data_per_month div.card-body ul li .muted {
              font-size: 12px;
              line-height: 15px; }
    .object_cont .average_hours {
      margin-bottom: 20px; }
      .object_cont .average_hours .title {
        font-size: 12px; }
    .object_cont .all_data {
      margin-top: 20px; }
      .object_cont .all_data .card-body {
        padding: 23px 0px 8px 18px;
        overflow: visible; }
        .object_cont .all_data .card-body h5 {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 5px; }
        .object_cont .all_data .card-body .datepicker_wrp:last-of-type:before {
          font-size: 12px;
          top: 2px; }
        .object_cont .all_data .card-body .scrollHider {
          overflow-y: hidden;
          margin-top: -10px;
          margin-bottom: 20px; }
          .object_cont .all_data .card-body .scrollHider .row {
            top: 10px;
            position: relative; }
        .object_cont .all_data .card-body .year_selector .muted {
          font-size: 14px; }
        .object_cont .all_data .card-body .year_selector .year_selector_list {
          margin-left: 5px; }
          .object_cont .all_data .card-body .year_selector .year_selector_list .dropdown .year {
            margin-right: auto; }
          .object_cont .all_data .card-body .year_selector .year_selector_list .year {
            margin-right: 10px; }
        .object_cont .all_data .card-body .line-chart-wrapper {
          padding: 10px 0px; }
          .object_cont .all_data .card-body .line-chart-wrapper #scrollYAxis {
            margin-top: 25px; }
    .object_cont .horizontal-bars {
      margin-right: -15px;
      margin-left: -15px; }
    .object_cont .segmentation_btn-wrp {
      padding: 0 10px; }
      .object_cont .segmentation_btn-wrp .btn-group {
        max-width: 100%; }
        .object_cont .segmentation_btn-wrp .btn-group .btn {
          max-width: 100px;
          font-size: 14px;
          padding: 3px 0px; }
    .object_cont .totalSum .data {
      margin-top: 35px;
      font-size: 2.3em; }
    .object_cont.revenue .floor_btn-wrp .btn {
      color: #f6aa26; }
    .object_cont .floor_btn-layer {
      margin-top: 0px;
      margin-bottom: 0; }
    .object_cont .floor_btn-wrp {
      margin-top: 12px;
      white-space: nowrap;
      overflow: scroll;
      padding: 0;
      padding-bottom: 10px;
      position: relative;
      top: 10px;
      background: #fff; }
      .object_cont .floor_btn-wrp::-webkit-scrollbar {
        display: none;
        width: 0 !important; }
      .object_cont .floor_btn-wrp .btn {
        background-color: #f6f7f7;
        border: solid 1px #f6f7f7;
        color: #886ce6;
        border-radius: 4px;
        margin: 0px 7px;
        padding: 10px; }
        .object_cont .floor_btn-wrp .btn:first-of-type {
          margin-left: 0;
          display: inline-block; }
          .object_cont .floor_btn-wrp .btn:first-of-type:after {
            display: none; }
    .object_cont .divider {
      margin-right: -1.5rem;
      margin-left: -1.5rem;
      margin-top: 7px;
      margin-bottom: 6px;
      display: block; }
    .object_cont input[type="date"]::-webkit-clear-button {
      display: none; }
    .object_cont input[type="date"]::-webkit-inner-spin-button,
    .object_cont input[type="date"]::-webkit-calendar-picker-indicator {
      display: none; }
    .object_cont .inner_objects {
      margin-left: -15px;
      margin-right: -15px; }
  #chartjs-tooltip2 > div {
    padding: 4px;
    box-shadow: none; }
    #chartjs-tooltip2 > div::before, #chartjs-tooltip2 > div::after {
      display: none; }
    #chartjs-tooltip2 > div .tooltip_body {
      font-size: 9px; }
      #chartjs-tooltip2 > div .tooltip_body .checked {
        top: 1px;
        position: relative; } }

@media screen and (max-width: 575px) {
  .object_cont .announce .features {
    margin-top: 0; }
    .object_cont .announce .features > div {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 1px; }
  .object_cont .announce .img_wrapper {
    max-height: 190px;
    height: 190px; }
  .object_cont .announce .img_wrapper_def {
    background-size: 240px; }
  .object_cont .announce .obj_title h4 {
    font-size: 16px;
    margin-bottom: 2px; }
  .object_cont .announce .obj_title .address_mobile.muted {
    font-size: 11px; }
  .object_cont .features > div > strong {
    font-size: 14px; }
  .object_cont .features > div > .muted {
    font-size: 12px; }
  .object_cont .segmentation_btn-wrp .btn-group .btn {
    font-size: 12px; }
  .object_cont .datepicker_wrp .react-datepicker__input-container input.datepicker {
    font-size: 12px;
    width: 79px; }
    .object_cont .datepicker_wrp .react-datepicker__input-container input.datepicker:disabled {
      background: none !important;
      opacity: 1 !important;
      -webkit-text-fill-color: #7f8fa4 !important;
      /* Override iOS / Android font color change */
      -webkit-opacity: 1 !important;
      /* Override iOS opacity change affecting text & background color */
      color: #7f8fa4 !important;
      /* Override IE font color change */ }
  .object_cont .datepicker_wrp .react-datepicker-popper {
    transform: none !important;
    left: calc(50% - 123px) !important;
    top: 20px !important; }
    .object_cont .datepicker_wrp .react-datepicker-popper .react-datepicker__triangle {
      display: none; }
  .object_cont .inner_objects .list_wrapper.plurableColumns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2; } }

@media screen and (max-width: 320px) {
  .object_cont .datepicker_wrp:last-of-type input.datepicker {
    margin-right: -15px; }
  .object_cont .datepicker_wrp input.datepicker {
    width: 70px;
    font-size: 9px; }
  .object_cont .datepicker_wrp:last-of-type {
    margin-left: 7%; }
    .object_cont .datepicker_wrp:last-of-type::before {
      margin-left: -5.5%;
      margin-top: 1.75%; }
  .object_cont .datepicker_wrp .segmentation_btn-wrp .btn-group .btn {
    font-size: 11px; }
  .object_cont .all_data .card-body .year_selector .year_selector_list {
    margin-left: 0px; } }

/*Тестовый/временный цсс*/
.video-box li.accordeon {
  display: inline-block;
  width: 400px;
  cursor: pointer;
  height: 300px;
  background: #141519;
  margin: 2px;
  color: #FFF;
  font-weight: 500;
  position: relative; }
  .video-box li.accordeon .collapse.show {
    position: absolute;
    top: 50px; }
  .video-box li.accordeon span.title {
    margin-left: 15px; }

.new-chart .card-body {
  padding: 25px 40px 17px; }

.new-chart h5 {
  margin-bottom: 20px; }

.new-chart .totalSum .data {
  margin-top: 0; }

.new-chart .Select {
  width: 165px;
  font-size: 13px;
  border: solid 1px #886ce6;
  border-radius: 3px;
  padding: 2px;
  display: inline-block;
  margin-right: 10px; }
  .new-chart .Select .Select-control {
    border: none;
    height: 20px; }
    .new-chart .Select .Select-control .Select-input {
      height: 20px; }
      .new-chart .Select .Select-control .Select-input > input {
        padding: 0; }
    .new-chart .Select .Select-control .Select-arrow {
      border: none;
      background-image: url("/img/dropdown.png");
      width: 9px;
      height: 6px; }
    .new-chart .Select .Select-control .Select-placeholder {
      cursor: pointer;
      color: #354052;
      font-weight: 400;
      line-height: 20px; }
    .new-chart .Select .Select-control .Select-value {
      line-height: 20px; }
    .new-chart .Select .Select-control span.Select-clear-zone {
      display: none; }
  .new-chart .Select .Select-menu-outer {
    border: 1px solid #886be6;
    top: 25px; }
    .new-chart .Select .Select-menu-outer .Select-option {
      padding-left: 6px; }
  .new-chart .Select.is-open {
    border-bottom: none;
    border-radius: 3px 3px 0 0; }
    .new-chart .Select.is-open .Select-arrow {
      background-image: url("/img/dropup.png"); }
    .new-chart .Select.is-open .Select-menu-outer {
      border-top: none;
      width: 165px;
      margin-left: -1px; }
  .new-chart .Select.is-focused .Select-control {
    box-shadow: none; }

.new-chart .year_selector {
  display: inline-block;
  margin-left: 20px; }
  .new-chart .year_selector div {
    display: inline-block; }
  .new-chart .year_selector .year_selector_list .year {
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #e3e3e3;
    margin-right: 10px;
    padding: 4px 13px;
    line-height: normal;
    width: 88px;
    height: 30px; }
    .new-chart .year_selector .year_selector_list .year > span {
      font-size: 14px;
      color: #7f8fa4; }
    .new-chart .year_selector .year_selector_list .year .checkbox {
      width: 12px;
      height: 12px;
      border: solid 1px #e3e3e3;
      position: relative;
      top: 1px;
      margin-right: 5px; }
      .new-chart .year_selector .year_selector_list .year .checkbox.checked.y2018 {
        background-color: #74c2e8;
        border: solid 1px #74c2e8; }
      .new-chart .year_selector .year_selector_list .year .checkbox.checked.y2017 {
        background-color: #9fd473;
        border: solid 1px #9fd473; }
      .new-chart .year_selector .year_selector_list .year .checkbox.checked.y2016 {
        background-color: #8570CE;
        border: solid 1px #8570CE; }
  .new-chart .year_selector .year_selector_list .dropdown {
    width: 73px !important;
    border-radius: 4px;
    border: solid 1px #e3e3e3;
    padding: 0px 6px;
    line-height: normal;
    z-index: 1;
    background: #fff; }
    .new-chart .year_selector .year_selector_list .dropdown .btn {
      padding: 0;
      color: #7f8fa4;
      line-height: 1;
      background: none;
      height: 30px; }
      .new-chart .year_selector .year_selector_list .dropdown .btn:focus {
        box-shadow: none; }
    .new-chart .year_selector .year_selector_list .dropdown .dropdown-toggle::after {
      content: url("/img/dropdown.png");
      border: none;
      margin-top: -1px;
      position: absolute; }
    .new-chart .year_selector .year_selector_list .dropdown .dropdown-menu {
      min-width: 60px;
      margin-top: -2px;
      border-top: none;
      border-radius: 0px 0px 4px 4px;
      width: 65px;
      margin-left: -1px;
      padding: 0 7px; }
      .new-chart .year_selector .year_selector_list .dropdown .dropdown-menu .year {
        display: block;
        border: none;
        margin: 10px auto;
        padding: 0;
        white-space: nowrap; }
        .new-chart .year_selector .year_selector_list .dropdown .dropdown-menu .year .y2015.checked {
          background-color: #ed8455;
          border: solid 1px #ed8455; }
        .new-chart .year_selector .year_selector_list .dropdown .dropdown-menu .year .y2014.checked {
          background-color: #e06c89;
          border: solid 1px #e06c89; }
        .new-chart .year_selector .year_selector_list .dropdown .dropdown-menu .year span {
          margin-left: 3px; }

.new-chart .data-bar-chart_wrapper {
  height: 400px;
  max-height: 400px;
  position: relative; }

.new-chart .datepickers .wrapper {
  width: 143px;
  border: solid 1px #886ce6;
  border-radius: 4px;
  display: inline-block; }
  .new-chart .datepickers .wrapper > div {
    display: inline-block; }
    .new-chart .datepickers .wrapper > div input {
      background: transparent;
      border: none;
      width: 70px; }
      .new-chart .datepickers .wrapper > div input:focus {
        outline: none; }
