
.object_cont{
  padding-bottom: 30px;
  h5{
    font-size: 30px;
    color:#354052;
    margin-bottom:0;
  }
  .card{
    margin-bottom:30px;
    .card-body {
      //padding: 25px 0px 25px 40px;
    }
  }
  .inner_objects{
    .card-body{
      padding: 25px 0px 25px 40px;
    }
    .list_wrapper{
      margin-top: 30px;
      padding-left: 0;
      margin-bottom: 0;
      &.plurableColumns{
        -webkit-column-count: 6; /* Chrome, Safari, Opera */
        -moz-column-count: 6; /* Firefox */
        column-count: 6;
      }
      &.singleColumn{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
      }
      &.doubleColumns{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
      }
      &.tripleColumns{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
      }
      &.quadColumns{
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
      }
      .last-item {
        margin-bottom: 20px!important;
      }
      li{
        list-style: none;
        line-height:22px;
        font-size: 18px;
        font-weight:500;
        color: #354052;
        &.title{
          //margin-bottom:5px;
          display: block;
          &:not(:first-of-type){
            //margin-top:20px;
          }
          >a{
            display:inline-block;
            margin-bottom:10px;
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
            color: #7f8fa4;
            text-decoration: none;
            text-decoration: underline;
            cursor:pointer;
            line-height:17px
          }
        }
        &.accordeon{
          &:not(:last-child){
            margin-bottom: 20px;
          }
          .title{
            border-bottom: 2px dashed rgba(127, 143, 164, 0.6);
          }
          .collapse{
            padding-top: 15px;
            padding-left: 15px;
          }
          a.list-item{
            display:block;
            margin-bottom:10px;
            font-weight: 400;
            font-size: 14px;
            color: #7f8fa4;
            text-decoration: none;
            text-decoration: underline;
            cursor:pointer;
            line-height:17px
          }
        }
        &.list-item{
          margin-bottom:10px;
          font-weight: 400;
          font-size: 14px;
          color: #7f8fa4;
          cursor:pointer;
          line-height:17px;
          a{
            border-bottom: 1px solid #7f8fa4;
            line-height: 10px;
            display: inline-block;
            white-space: nowrap;
            color: #7f8fa4;
          }
        }
      }
    }

  }

}

.checked{
  height:9px;
  width: 9px;
  display:inline-block;
  margin-right:3px;
  &.y2018{
    background-color: #74c2e8;
  }
  &.y2017{
    background-color: #9fd473;
  }
  &.y2016{
    background-color: #8570CE;
  }
  &.y2015{
    background-color: #ed8455;
  }
  &.y2014{
    background-color: #e06c89;
  }
}


.app-body_new_margin{
  margin-top:55px
}
.new_position_for_ham{
  top: 0!important;
  margin-top: -2px;
}
.segmentation_btn-wrp{
  margin-top:20px;
  text-align:center;
  .btn{
    border:1px solid #886ce6;
    color: #354052;
    padding: 2px 5px;
    width: 106px;
    background:#fff;
  }
  .btn.active{
    border-radius: 4px;
    background-color: #886ce6;
    color:#fff;
    &:focus{
      box-shadow:none
    }
  }
}

.excellLink{
  font-size: 14px;
  text-align: left;
  color: #7f8fa4!important;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  border-bottom: 1px #7f8fa4 dashed;
}

.half-opacity{
  opacity:0.5;
}

.underline{
  text-decoration: underline;
}

.divider{
  display:none
}


.revenue{
  .segmentation_btn-wrp{
    .btn{
      border:1px solid #f6aa25;
    }
    .btn.active{
      background-color: #f6aa25;
    }
  }
  .floor_btn-wrp{
    .btn.active{
      background-color: #f6aa25!important;
    }
  }
  .datepicker_wrp{
    input.datepicker {
      border: solid 1px #f6aa25;
    }
  }
}


.floor_btn-layer {
  margin-top: -50px;
  margin-bottom: 25px;
}
.floor_btn-wrp{
  background-color: rgba(247, 245, 252, 0.7);
  display: inline-block;
  padding: 15px;
  width: 100%;
  .btn{
    color: #7f8fa4;
    background: transparent;
    border-bottom: 1.5px dashed rgba(127, 143, 164, 0.5);
    padding: 2px;
    margin-right: 20px;
    &:first-child{
      display:block;
      margin-bottom:12px;
      &:after{
        content: ' или выберите конкретный вход:';
        color: #8696a9;
        position: absolute;
        margin-left: 15px;
      }
    }
  }
  .btn.active{
    border-radius: 4px;
    background-color: #886ce6!important;
    color:#fff!important;
    &:focus{
      box-shadow:none;
    }
  }
}

.datepicker_wrp{
  ::-webkit-inner-spin-button, ::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  display:inline-block;
  &:last-of-type::before{
    content: 'по';
    margin-left: -22px;
    position: absolute;
    margin-top: 2.7px;
    font-size: 14px;
    color: #7f8fa4;
  }
  &:last-child{
    margin-left: 30px;

  }
  input.datepicker {
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: solid 1px #886ce6;
    text-align: center;
    width: 85px;
    font-size: 14px;
    color: #7f8fa4;
    white-space: nowrap;

  }
}

.data_per_month{
  margin-bottom: 30px;
  .header{
    padding: 25px 40px;
    .data{
      color: #354052;
      font-size: 2.3em;
      display:block;
      line-height: 44px;
      margin-top: 2px;
      margin-left:30px;
      white-space: nowrap;
    }
    .data + .muted{
      margin-left:30px;
      white-space: nowrap;
    }
    h4{
      color: #354052;
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 0;
      margin-bottom: 2px;
      white-space: nowrap;
    }
    .muted{
      font-size: 14px;
      line-height: 17px;
    }
  }
  div.card-body{
    overflow-x:auto;
    overflow-y: hidden;
    padding-top: 8px;
    padding-left: 40px;
    padding-bottom: 15px;
    &::-webkit-scrollbar-thumb {
      background: #e1e4e6;
    }

    ul{
      line-height:default;
      min-width:1274px;
      height: 38px;
      margin: 0px;
      white-space: nowrap;
      padding: 0;
      li{
        display: inline-block;
        width: 6.7%;
        min-width: 46px;
        margin-right: 1.8%;
        &:last-of-type {
          margin-right: 5px;
          width: 60px;
        }
        div{
          height: 18px;
          line-height: 18px;
          strong{
            height: 18px;
            font-size: 14px;
            font-weight: 600;
            min-width: 99px;
          }
        }
        .muted{
          height: 18px;
          font-size: 14px;
          line-height: 18px;
          font-size:14px;
        }
      }
    }
  }
}

.all_data {
  .year_selector{
    margin-top: 15px;
    div{
      display: inline-block;
    }
    .year_selector_list{
      .year{
        cursor: pointer;
        border-radius: 4px;
        border: solid 1px #e3e3e3;
        margin-right: 15px;
        padding: 0px 3px;
        line-height: normal;
        >span{
          font-size: 14px;
          color: #7f8fa4;
        }
        .checkbox {
          width: 12px;
          height: 12px;
          border: solid 1px #e3e3e3;
          position: relative;
          top: 1px;
          margin-right: 5px;
          &.checked.y2018{
            background-color: #74c2e8;
          }
          &.checked.y2017{
            background-color: #9fd473;
          }
          &.checked.y2016{
            background-color: #8570CE;
          }
        }
      }
      .dropdown{
        width: 65px!important;
        border-radius: 4px;
        border: solid 1px #e3e3e3;
        padding: 0px 3px;
        line-height: normal;
        z-index: 1;
        background:#fff;
        .btn{
          padding: 0;
          color: #7f8fa4;
          line-height: 1;
          background: none;
          &:focus{
            box-shadow:none
          }
        }
        .dropdown-menu{
          min-width: 60px;
          margin-top: -2px;
          border-top: none;
          border-radius: 0px 0px 4px 4px;
          width: 65px;
          margin-left: -1px;
          .year{
            display: block;
            border: none;
            margin: 10px auto;
            .y2015.checked{
              background-color: #ed8455;
            }
            .y2014.checked{
              background-color: #e06c89;
            }
          }
        }
      }
    }
  }
  .datepickers{
    white-space: nowrap;
    .muted{
      margin-right:2px;
    }
  }
  h5{
    margin-bottom: 0.5rem;
    display:inline-block;
  }
  .comparison_mode-wrp{
    display:inline-block;
    line-height: 33px;
    margin-left:15px;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    &.active{
      .outer_circle {
        border: solid 1px rgba(183, 225, 167, 0.4);
        .inner_circle {
          background-color: #b7e1a7;
        }
      }
    }
    .outer_circle {
      width: 11px;
      height: 11px;
      border: solid 1px #f4f4f4;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      top: 2px;
      position: relative;
      .inner_circle {
        width: 7px;
        height: 7px;
        background: #d8d8d8;
        border-radius: 50%;
        margin: auto;
        margin-top:1px;
      }
    }
    .btn{
      color: #7f8fa4;
      background: transparent;
      border-bottom: 1.5px dashed rgba(127, 143, 164, 0.5);
      padding: 2px 0;
      margin-right: 20px;
      margin-left: 3px;
      &:focus{
        box-shadow: none;
      }
    }
  }
}

.object-table td,.object-table th{
  text-align:center
}

.react-datepicker-popper{
  z-index: 10;
}

.object_cont{
  margin:auto;
}

.totalSum{
  white-space: nowrap;
  .data{
    color: #354052;
    font-size: 2.3em;
    display:block;
    line-height: 0.8;
  }
}


.muted{
  font-size: 12px;
  text-align: left;
  color: #7f8fa4;
  margin-right: 5px;
}

.measure{
  font-size: 20px;
  font-weight: 600;
  color: #354052;
}


.obj_title{
  padding-bottom: 5px;
  h4{
    font-size: 55px;
    line-height: 68px;
    color: #354052;
    white-space: nowrap;
    margin: 0px !important;
  }

  .muted{
    font-size:14px;
    font-weight: 400;
  }
  a.link_desktop{
    font-size: 20px;
    text-align: left;
    color: #354052;
    box-shadow: inset 0 -3px 0 white, inset 0 -4px 0 #354052;
    font-weight: 400;
  }
  .address_mobile{
    display: none;
  }
  a.link_mobile{
    display:none;
    font-size: 14px;
    text-align: left;
    color: #45bce5;
    text-decoration: underline;
    line-height:0;
  }
}



.announce{
  margin-bottom: 31px;
  .data_wrapper{
    //padding-right: 4px;
    overflow:hidden;
  }
  >.col{
    overflow:hidden;
    max-height:400px;
  }
  > div:first-of-type > .card{
    height:100%;
  }

  .img_wrapper{
    border-radius: 4px;
  }
  .img_wrapper_full{
    background-position: center center;
    background-size: cover;
    border: 1px solid #d1d4d7;
  }
  .img_wrapper_def{
    border: 1px solid #d1d4d7;
    background-position: center center;
    background-size: 525px;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }

  .geolocation{
    .map_wrapper{
      width: 360px;
      height: 360px;
      zoom:50%;
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      .ymaps-2-1-56-copyright__content{
        display: none;
      }
    }
    .address{
      text-align:center;
      padding:0;
      font-size: 14px;
      color: #7f8fa4;
      margin-top: 13px;
      font-weight: 400;
    }
  }
  .features{
    margin-top:25px;
    display: flex;
    flex-direction: column;
    >div{
      line-height: 24px;
      margin-bottom: 4px;
      &.opening_day{
        flex: 1 0 auto;
      }
      &.social_links{
        margin-bottom:-5px!important;
        a{
          display: inline-block;
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          cursor: pointer;
          margin-right: 20px;
        }
      }
      >strong{
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        text-align: left;
        color: #354052;
        padding-right: 5px;
      }
      >.muted{
        font-size: 16px;
        color: #7f8fa4;
        line-height: 24px;
        font-weight: 400;
      }
      >.muted-bold{
        font-size: 16px;
        color: #354052;
        line-height: 24px;
        font-weight: 500;
      }
    }
    .floor_plans{
      text-decoration: underline;
      margin-top: 30px;
    }
  }
}

.average_hours{
  text-align:center;
  //padding-bottom: 10px;
  margin-bottom: 30px;
  .title{
    text-align: center;
    padding-left: 0px;
    font-size: 14px;
    //line-height: 2.29;
    color: #7f8fa4;
    white-space: nowrap;
    margin-top: 4px;
  }
  h4{
    padding: 0px 20px;
    color: #354052;
    font-size: 30px;
    margin-bottom: 2px;
    text-align:left;
  }
  .muted{
    padding-left: 20px;
    white-space: normal;
  }
  .chart-wrapper:not(:first-of-type) .title {
    //padding-left: 33%;
  }
  &.horizontal-bars{
    white-space: nowrap;
    .header{
      padding: 1rem 1rem;
      padding-bottom: 0;
      h4{
        color:#354052;
      }
    }
    .card-body{
      overflow-x: scroll;
      overflow-y: hidden;
      padding-top: 0;
      padding-bottom: 30px;
      &::-webkit-scrollbar-thumb {
        background: #e1e4e6;
      }
      ul.ranges {
        display: inline-block;
        position: absolute;
        background: #fff;
        left: 0;
        height: 130px;
        margin-top: -5.5px;
        padding: 18px 7px 0 10px;
        &.fixed{
          box-shadow: 4px 0px 4px -4px #d7d9db;
          //border-right:1px solid rgba(208, 208, 208, 0.5);
        }
        li{
          height: auto;
          line-height: 1.4;
          vertical-align: top;
          list-style: none;
          font-size: 9px;
          font-weight: 400;
          margin-bottom: 4px;
          color: #7f8fa4;
          &:last-of-type{
            margin-bottom:0
          }
        }
      }
    }
    .chart-wrapper{
      &:first-of-type{
        margin-left:21px;
      }
      &.fixed{
        margin-left:38px;
      }
      display:inline-block;
      max-width:132px;
      margin-right:20px;
      //height:202px;
      height:113px;
      border: 1px solid #f5f5f5;
      border-radius: 4px;
      &:not(:first-of-type) .title{
        padding-left: 0%;
      }
    }
  }
  &.vertical-bars{
    .bars_wrapper{
      display:flex;
      .chart-wrapper{
        &:first-of-type{
          margin-left:30px;
        }
        &:not(:first-of-type) .title{
        }
        display: inline-block;
        width: 151.3px;
        height: 254px;
        padding: 0;
        border: solid 1px #f5f5f5;
        //padding-top: -5px;
        position: relative;
        margin: auto;
      }
    }

  }
}


.all_data {
  .card-body{
    padding: 25px 0px 25px 40px;
    overflow: hidden;
    h5{
      font-size:30px
    }
  }
  .error-message{
    text-align: center;
    font-size: 2em;
    height: 200px;
    line-height: 220px;
  }
  .line-chart-wrapper{
    margin-top: 15px;
    >#scrollYAxis{
      display: none;
      position: absolute;
      top: 0;
      margin-top: 15px;
      pointer-events: none;
    }
    .scrolled{
      background: #fff;
      border-right: 1px solid transparent;
      padding-bottom: 33px;
      display: block!important;
    }
    .linechart_area_wrapper{
      min-height: 200px;
    }
    .linechart_area_wrapper_small{
      height: 120px;
    }
  }
}


@media screen and (min-width:1444px) {
  .announce{
    &.row > div {
      //padding-right: 8px;
      //padding-left: 8px;
      &:first-of-type{
        .card{
          height: 100%;
        }
      }
    }
    .img_wrapper,.data_wrapper{
      max-height:400px;
      max-width: 49.5%;
      img{
        display: none;
      }
    }

    .card-body{
      padding: 40px 35px 16px 40px;
    }
  }
}

@media screen and (min-width:1320px) {
  .muted{
    font-size: 14px;
  }
  .totalSum{
    .data{
      margin-top: -25px;
    }
  }
}

@media screen and (max-width:1444px) {
  .announce {
    > div:first-of-type {
      padding-right: 8px;
      max-height: 340px;
      > .card {
        overflow: hidden
      }
    }
    .img_wrapper{
      max-height: 340px;
      padding-left: 8px;
      max-width: 48%;
    }
    .img_wrapper_def{
      background-size: 400px;
    }
    .features {
      > div {
        > strong {
          font-size: 15px;
        }
        .muted{
          font-size: 13px;
        }
      }
    }
    .geolocation {
      .map_wrapper {
          display: none;
      }
      .address{
        font-size:14px;
      }
    }
    .obj_title h4 {
      font-size: 32px;
    }
  }

  .datepicker_wrp{
    &:last-child {
      margin-left: 20px;
      &::before{
        margin-left: -17px;
      }
    }

  }
}

@media screen and (min-width:992px) and (max-width: 1260px) {
  .all_data .comparison_mode-wrp .btn {
    font-size: 12px;
  }
}


@media screen and (min-width:992px) and (max-width: 1060px) {
  .totalSum{
    .muted{
      font-size:11px
    }
  }
}


@media screen and (max-width:1200px) {
  .object_cont {
    .excellLink {
      display: none;
    }
    .inner_objects {
      .list_wrapper.plurableColumns {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
      }
    }
    .totalSum{
      .data {
        font-size: 28px;
      }
      .muted{
        white-space: normal;
      }
    }
    .floor_btn-wrp .btn:first-child {
      display: inline-block;
      margin-bottom: 0;
      &:after {
        display: none;
      }
    }
  }

}

@media screen and (max-width:991px) {
  .announce{
    .img_wrapper{
      img.fullIMG{
        height:auto;
      }
    }
  }

  .card{
    border: 1px solid #dfe2e5;
    .card-body{
     // padding: 1.5rem;
    }
  }

  .object_cont{
    margin-right: auto;
    margin-left: auto;
  }
  .average_hours{
    border: 0px;
    border-radius: 0px;
    &.horizontal-bars{
      h4{
        padding-left: 0px;
        font-size: 18px;
        font-weight: 400;
      }
      .muted{
        padding-left: 0px;
      }
      .card-body{
        overflow-x: scroll;
        overflow-y: hidden;
      }
      .title{
        padding-bottom: 2px;
      }
    }
  }
  .data_per_month{
    border: 0px;
    border-radius: 0px;
    .header{
      .data, .data + .muted{
        margin-left:0
      }
    }
  }

  .all_data {
    .row:first-of-type{
      >div:first-of-type{
        white-space: nowrap;
      }
    }
    .comparison_mode-wrp{
      .btn{
        font-size: 12px;
      }
    }
    .datepicker_wrp{
      input.datepicker{
        width: auto;
        font-size: 12px;
        &::-webkit-clear-button {
          display: none;
        }
        &::-webkit-inner-spin-button {
          display:none;
        }
        &::-webkit-calendar-picker-indicator {
          display:none;
        }
      }
    }
    .floor_btn-wrp{
      display:block;
    }
    .line-chart-wrapper {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      position: static;
      >#scrollYAxis{
        display: none;
      }
      .linechart_area_wrapper{
        width:1244px;
      }
      .linechart_area_wrapper_small{
        width:700px;
      }
    }
    .line-chart-wrapper_small {
      position: relative;
      left: -7px;
    }
  }

}

@media screen and (max-width:767px){
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display:none;
  }

  .object_cont{
    width:100%;
    margin:auto;
    margin-top: 0;
    padding: 0 15px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .card{
        margin-bottom: 20px;
    }
    &::-webkit-scrollbar {
      display:none;
    }
    .announce{
      padding:0 15px;
      margin-bottom: 20px;
      margin-top: 16px;
      > div:first-of-type{
        padding-right: 0;
        padding-left: 0;
      }
      .data_wrapper{
        .card{
          border-radius: 0px 0px 4px 4px;
          margin-bottom: 5px;
          .card-body{
            padding-top:16px;
            padding-bottom: 13px;
          }
        }
      }
      .img_wrapper{
        border-color: #dfe2e5;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        max-height:280px;
        height:280px;
        padding-left: 15px;
        max-width: none;
      }
      .geolocation {
        display:none
      }
      .obj_title{
        h4{
          font-size: 18px;
          line-height: 20px;
        }
        .address_mobile{
          display: block;
          &.muted{
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        a.link_mobile{
          display:block;
          line-height: normal;
          text-align: center;
        }
        a.link_desktop{
          display: none;
        }
      }
    }
    .average_hours{
      -webkit-overflow-scrolling: touch;
      .scrollHider{
        overflow-y:hidden;
        margin-top:-10px;
        margin-bottom: 20px;
        div.card-body{
          margin-bottom: -12px;
          margin-top: 10px;
        }
      }
    }
    .features{
      padding-right: 0;
      >div{
        &.social_links{
          text-align:right;
          margin-top: 8px;
          margin-bottom: -10px !important;
          a{
            width: 23px;
            height: 23px;
            margin-right: 15px;
            background-size: contain;
            &:last-child{
              margin-right: 8px;
            }
          }
        }
        >strong{
          font-size: 16px;
          padding-right: 6px;
        }
        >.muted-bold{
          font-size: 12px;
        }
        >.muted{
          font-size: 14px;
        }
      }
      .floor_plans{
        margin-top: 10px;
      }
    }
    .data_per_month{
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 20px;
        margin-bottom: 20px;
        .header {
          padding-left:35px;
          padding-top: 17px;
          padding-right:5px;
          padding-bottom: 20px;
          h4 {
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
          }
          .muted{
            font-size: 12px;
          }
        }
      .scrollHider{
        overflow-y:hidden;
        margin-top:-10px;
        margin-bottom: 20px;
      }
        div.card-body{
          padding-left: 35px;
          padding-top:0px;
          padding-bottom: 11px;
          top:10px;
          position:relative;
         ul{
           min-width:500px;
           li{
             &.average{
               width: 95px;
               margin-right: 16px;
               background-color: #f6f7f7;
               border-radius: 4px;
               padding: 0 8px;
             }
             margin-right: 10%;
             div{
               strong{
                 font-size: 12px;
               }
             }
             .muted{
               font-size: 12px;
               line-height: 15px;
             }
           }
         }
       }
    }
    .average_hours{
      margin-bottom: 20px;
      .title{
        font-size: 12px;
      }
    }
    .all_data{
      margin-top: 20px;
      .card-body{
        padding: 23px 0px 8px 18px;
        overflow: visible;
        h5{
          font-size: 18px;
          font-weight: 400;
          line-height:22px;
          margin-bottom: 5px;
        }
        .datepicker_wrp{
          &:last-of-type:before{
            font-size: 12px;
            top: 2px;
          }
        }
        .scrollHider{
          overflow-y:hidden;
          margin-top:-10px;
          margin-bottom: 20px;
          .row{
            top:10px;
            position: relative;
          }
        }
        .year_selector{
          .muted{
            font-size: 14px;
          }
          .year_selector_list .year{
            margin-right:10px
          }
        }
        .line-chart-wrapper {
          padding: 10px 0px;
          #scrollYAxis{
            margin-top: 25px;
          }
        }
      }

    }
    .horizontal-bars{
      margin-right: -15px;
      margin-left: -15px;
    }
    .segmentation_btn-wrp{
      padding: 0 10px;
      .btn-group{
        max-width:100%;
        .btn{
          max-width: 100px;
          font-size: 14px;
          padding: 3px 0px;
        }
      }
    }
    .totalSum {
      .data {
        margin-top: 35px;
        font-size: 2.3em;
      }
    }
    &.revenue{
      .floor_btn-wrp{
        .btn{
          color: #f6aa26;
        }
      }
    }
    .floor_btn-layer {
      margin-top: 0px;
      margin-bottom: 0;
    }
    .floor_btn-wrp{
      margin-top:12px;
      white-space: nowrap;
      overflow: scroll;
      padding: 0;
      padding-bottom: 10px;
      position: relative;
      top: 10px;
      background: #fff;
      &::-webkit-scrollbar {
        display:none;
        width: 0 !important;
      }
      .btn{
        background-color: #f6f7f7;
        border: solid 1px #f6f7f7;
        color: #886ce6;
        border-radius: 4px;
        margin: 0px 7px;
        padding: 10px;
        &:first-of-type{
          margin-left:0;
          display: inline-block;
            &:after{
              display: none;
            }
        }
      }
    }
    .divider{
      margin-right: -1.5rem;
      margin-left: -1.5rem;
      margin-top: 7px;
      margin-bottom: 6px;
      display:block;
    }
    input[type="date"]::-webkit-clear-button {
      display: none;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }

    .inner_objects{
      margin-left: -15px;
      margin-right: -15px;
    }

  }

  #chartjs-tooltip2{
    >div{
      padding: 4px;
      box-shadow: none;
      &::before,&::after{
        display: none;
      }
      .tooltip_body{
        font-size:9px;
        .checked{
          top: 1px;
          position: relative;
        }
      }
    }
  }
}

@media screen and (max-width:575px){
  .object_cont {
    .announce{
      .features{
        margin-top: 0;
        >div{
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 1px;
        }
      }
      .img_wrapper{
        max-height: 190px;
        height: 190px;
      }
      .img_wrapper_def{
        background-size: 240px;
      }
      .obj_title{
        h4{
          font-size: 16px;
          margin-bottom: 2px;
        }
        .address_mobile{
          &.muted{
            font-size: 11px;
          }
        }
      }
    }
    .features{
      >div{
        >strong{
          font-size: 14px;
        }
        >.muted{
          font-size: 12px;
        }
      }
    }
    .segmentation_btn-wrp {
      .btn-group {
        .btn {
          font-size: 12px;
        }
      }
    }
    .datepicker_wrp{
      input.datepicker {
        font-size: 12px;
      }
    }
    .inner_objects{
      .list_wrapper.plurableColumns{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
      }
    }
  }

}

@media screen and (max-width:320px){
  .object_cont{
    .datepicker_wrp{
      &:last-of-type{
        input.datepicker {
          margin-right: -15px;
        }
      }
      input.datepicker {
        width: 70px;
        font-size: 9px;
      }
      &:last-of-type{
        margin-left: 7%;
        &::before{
          margin-left: -5.5%;
          margin-top: 1.75%;
        }
      }
      .segmentation_btn-wrp .btn-group .btn{
        font-size:11px;
      }
    }
  }
}