@charset "UTF-8";
.app-body_new_margin {
  margin-top: 55px; }

.segmentation_btn-wrp {
  margin-top: 20px;
  text-align: center; }
  .segmentation_btn-wrp .btn {
    border: 1px solid #886ce6;
    color: #354052;
    padding: 2px 5px;
    width: 106px;
    background: #fff; }
  .segmentation_btn-wrp .btn.active {
    border-radius: 4px;
    background-color: #886ce6;
    color: #fff; }
    .segmentation_btn-wrp .btn.active:focus {
      box-shadow: none; }

.divider {
  display: none; }

.revenue .segmentation_btn-wrp .btn {
  border: 1px solid #f6aa25; }
.revenue .segmentation_btn-wrp .btn.active {
  background-color: #f6aa25; }
.revenue .floor_btn-wrp .btn.active {
  background-color: #f6aa25; }
.revenue .datepicker_wrp input.datepicker {
  border: solid 1px #f6aa25; }

.floor_btn-wrp .btn {
  color: #7f8fa4;
  background: #fff; }
.floor_btn-wrp .btn.active {
  border-radius: 4px;
  background-color: #886ce6;
  color: #fff; }
  .floor_btn-wrp .btn.active:focus {
    box-shadow: none; }

.datepicker_wrp {
  display: inline-block; }
  .datepicker_wrp:last-of-type::before {
    content: 'по';
    margin-left: -17px;
    position: absolute;
    margin-top: 0.75%;
    font-size: 12px;
    color: #7f8fa4; }
  .datepicker_wrp:last-child {
    margin-left: 20px; }
  .datepicker_wrp input.datepicker {
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: solid 1px #886ce6;
    text-align: center;
    width: 84px;
    font-size: 14px;
    color: #7f8fa4;
    white-space: nowrap; }

.data_per_month .header {
  padding: 10px 20px; }
  .data_per_month .header h4 {
    padding: 10px 20px;
    color: #354052;
    font-size: 30px; }
.data_per_month > div.card-body {
  overflow: scroll;
  padding: 1.25rem; }
  .data_per_month > div.card-body ul {
    white-space: nowrap;
    padding: 0; }
    .data_per_month > div.card-body ul li {
      display: inline-block;
      width: 8.3%;
      min-width: 99px; }
      .data_per_month > div.card-body ul li .muted {
        font-size: 14px; }

.object-table td, .object-table th {
  text-align: center; }

.react-datepicker-popper {
  z-index: 10; }

.object_cont {
  margin: auto;
  margin-right: -13px;
  margin-left: -13px; }

.totalSum .data {
  color: #354052;
  font-size: 2.3em;
  display: block;
  line-height: 0.8;
  word-wrap: initial; }

.muted {
  font-size: 12px;
  text-align: left;
  color: #7f8fa4;
  margin-right: 5px; }

.measure {
  font-size: 20px;
  font-weight: 600;
  color: #354052; }

.obj_title {
  padding-bottom: 5px; }
  .obj_title h4 {
    font-size: 55px;
    color: #354052; }
  .obj_title .muted {
    font-size: 14px;
    font-weight: 400; }
  .obj_title a.link_desktop {
    font-size: 20px;
    text-align: left;
    color: #354052;
    box-shadow: inset 0 -3px 0 white, inset 0 -4px 0 #354052; }
  .obj_title .address_mobile {
    display: none; }
  .obj_title a.link_mobile {
    display: none;
    font-size: 14px;
    text-align: left;
    color: #45bce5;
    text-decoration: underline;
    line-height: 1; }

.announce {
  margin-bottom: 15px; }
  .announce > .col {
    overflow: hidden;
    max-height: 400px; }
  .announce > div:first-of-type > .card {
    height: 100%; }
  .announce .img_wrapper {
    border-radius: 4px; }
    .announce .img_wrapper img.fullIMG {
      max-width: 100%;
      height: 100%; }
  .announce .geolocation .map_wrapper {
    width: 360px;
    height: 360px;
    zoom: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto; }
    .announce .geolocation .map_wrapper .ymaps-2-1-56-copyright__content {
      display: none; }
  .announce .geolocation .address {
    text-align: center;
    padding: 0;
    font-size: 16px;
    color: #7f8fa4;
    margin-top: 14px;
    font-weight: 400; }
  .announce .features > div {
    margin: 7px auto; }
    .announce .features > div > strong {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #354052; }
    .announce .features > div > .muted {
      font-size: 16px;
      color: #7f8fa4; }

.average_hours {
  padding-bottom: 10px; }
  .average_hours .title {
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
    line-height: 2.29;
    color: #7f8fa4;
    white-space: nowrap; }
  .average_hours h4 {
    padding: 0px 20px;
    color: #354052;
    font-size: 30px; }
  .average_hours .chart-wrapper:not(:first-of-type) .title {
    padding-left: 33%; }
  .average_hours.horizontal-bars .header {
    padding: 1rem 1rem; }
    .average_hours.horizontal-bars .header h4 {
      color: #354052; }
  .average_hours.horizontal-bars .chart-wrapper {
    display: inline-block;
    max-width: 13.5%;
    height: 200px;
    padding: 0px 15px; }
    .average_hours.horizontal-bars .chart-wrapper:first-of-type {
      width: 18%;
      max-width: none; }
    .average_hours.horizontal-bars .chart-wrapper:not(:first-of-type) .title {
      padding-left: 0%; }
  .average_hours.vertical-bars .chart-wrapper {
    display: inline-block;
    max-width: 14.2%;
    height: 200px;
    padding: 0px 15px; }
    .average_hours.vertical-bars .chart-wrapper:first-of-type {
      height: 212px;
      position: relative;
      top: 6px; }
    .average_hours.vertical-bars .chart-wrapper:not(:first-of-type) .title {
      top: 6px;
      position: relative; }

.all_data .card-body {
  padding: 25px 40px; }
  .all_data .card-body h5 {
    font-size: 30px; }
.all_data .line-chart-wrapper {
  max-height: 183px;
  margin-top: 15px; }

@media screen and (min-width: 1320px) {
  .muted {
    font-size: 14px; }

  .announce img.fullIMG {
    height: auto; } }
@media screen and (min-width: 1200px) {
  .announce.row > div {
    padding-right: 8px;
    padding-left: 8px; }
    .announce.row > div:first-of-type .card {
      height: 100%; }
  .announce .img_wrapper {
    max-height: 420px; }
  .announce .card-body {
    padding: 35px 40px; } }
@media screen and (max-width: 1199px) {
  .announce > div:first-of-type > .card {
    overflow: hidden; }
  .announce .img_wrapper {
    max-height: 320px; }
  .announce .features > div > strong {
    font-size: 15px; }
  .announce .features > div .muted {
    font-size: 13px; }
  .announce .geolocation .map_wrapper {
    width: 100px;
    height: 100px; }
  .announce .geolocation .address {
    font-size: 14px; }
  .announce .obj_title h4 {
    font-size: 32px; }

  .datepicker_wrp:last-child {
    margin-left: 20px; }
    .datepicker_wrp:last-child::before {
      margin-left: -17px;
      margin-top: 5px; } }
@media screen and (max-width: 991px) {
  .announce .img_wrapper {
    max-height: 300px; }
    .announce .img_wrapper img.fullIMG {
      height: auto; }

  .object_cont {
    margin-right: auto;
    margin-left: auto; }

  .horizontal-bars {
    white-space: nowrap; }
    .horizontal-bars h4 {
      font-size: 18px;
      font-weight: 400; }
    .horizontal-bars .card-body {
      overflow: scroll; }
      .horizontal-bars .card-body .chart-wrapper {
        max-width: 300px;
        width: 200px;
        min-width: 200px; }
        .horizontal-bars .card-body .chart-wrapper:first-of-type {
          width: 250px; }

  .all_data .row:first-of-type > div:first-of-type {
    white-space: nowrap; }
  .all_data .datepicker_wrp input.datepicker {
    width: 60px;
    font-size: 12px; } }
@media screen and (max-width: 767px) {
  .object_cont {
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding: 0 15px;
    overflow-x: hidden; }
    .object_cont .announce .img_wrapper {
      max-height: 280px; }
    .object_cont .announce .geolocation {
      display: none; }
    .object_cont .announce .obj_title h4 {
      font-size: 18px; }
    .object_cont .announce .obj_title .address_mobile {
      display: block; }
      .object_cont .announce .obj_title .address_mobile.muted {
        font-size: 16px;
        margin-bottom: 0; }
    .object_cont .announce .obj_title a.link_mobile {
      display: block; }
    .object_cont .announce .obj_title a.link_desktop {
      display: none; }
    .object_cont .features > div > strong {
      font-size: 16px; }
    .object_cont .features > div > .muted {
      font-size: 14px; }
    .object_cont .data_per_month {
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 20px; }
      .object_cont .data_per_month .header h4 {
        font-size: 18px;
        font-weight: 400; }
    .object_cont .all_data {
      margin-top: 20px; }
      .object_cont .all_data .line-chart-wrapper {
        padding: 10px 0px; }
    .object_cont .horizontal-bars {
      margin-right: -15px;
      margin-left: -15px; }
    .object_cont .segmentation_btn-wrp {
      padding: 0 10px; }
      .object_cont .segmentation_btn-wrp .btn-group {
        max-width: 100%; }
        .object_cont .segmentation_btn-wrp .btn-group .btn {
          max-width: 25%;
          font-size: 14px;
          padding: 2px 0px; }
    .object_cont .totalSum .data {
      margin-top: 15px; }
    .object_cont .floor_btn-wrp {
      margin-top: 15px; }
    .object_cont .divider {
      margin-right: -1.3rem;
      margin-left: -1.3rem;
      display: block; }
    .object_cont input[type="date"]::-webkit-clear-button {
      display: none; }
    .object_cont input[type="date"]::-webkit-inner-spin-button,
    .object_cont input[type="date"]::-webkit-calendar-picker-indicator {
      display: none; } }
@media screen and (max-width: 575px) {
  .object_cont .announce .img_wrapper {
    max-height: 190px; }
  .object_cont .announce .obj_title h4 {
    font-size: 16px; }
  .object_cont .announce .obj_title .address_mobile.muted {
    font-size: 12px; }
  .object_cont .features > div > strong {
    font-size: 14px; }
  .object_cont .features > div > .muted {
    font-size: 12px; }
  .object_cont .segmentation_btn-wrp .btn-group .btn {
    font-size: 12px; }
  .object_cont .datepicker_wrp input.datepicker {
    font-size: 12px; } }
@media screen and (max-width: 320px) {
  .object_cont .datepicker_wrp:last-of-type input.datepicker {
    margin-right: -15px; }
  .object_cont .datepicker_wrp input.datepicker {
    width: 63px;
    font-size: 9px; }
  .object_cont .datepicker_wrp:last-of-type {
    margin-left: 7%; }
    .object_cont .datepicker_wrp:last-of-type::before {
      margin-left: -5.5%;
      margin-top: 1.75%; }
  .object_cont .datepicker_wrp .segmentation_btn-wrp .btn-group .btn {
    font-size: 11px; } }
