.no-data-message{
  margin:auto;
  text-align:center
}
.dashboard {
  >.row{
    margin-right: 0;
    margin-left: 0;
    >div{
      padding-right:5px;
      padding-left:5px;
      margin: auto;
    }
  }
  .card-header {
    //border-bottom: 1px solid #dfe2e5 !important;
    border-bottom: 0px;
    padding-bottom: 0px !important;
    height: 90px;
    >.row{
      height: 100% !important;
    }

    .card-name{
      position: absolute;
      bottom: 0px;
    }

    img.title-image {
      bottom: 0px;
      right: 12px;
      position: absolute;
      float: right;
      transition: visibility 0.4s linear 0s, opacity 0.2s linear 0s;
      opacity: 1;
      /*max-width: 110%;*/
      width: 159px;
      height: 84px;
    }

  }
  .card {
    border: solid 1px rgba(169, 218, 235, 0.5);
    border-radius: 4px;
    background-color: #a9daeb;
    box-shadow: 0px 0 4px 1px rgba(150, 150, 150, 0.2);
  }
  .card-body, .card-block {
    text-align: center;
  }
  .card-body{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    .row div{
      padding-left:5px;
      padding-right:5px;
      &.block_title{
        line-height: 100%;
      }
    }
  }
  .card:hover img.title-image {
    opacity: 0;
    visibility: hidden;

  }
  .card:hover img.title-image_hidden {
    visibility: visible;
    opacity: 0.7;
  }
  .card:hover {
    border: 1px solid #8ed6fb;
  }
  .card-header img.title-image_hidden {
    bottom: 0px;
    right: 12px;
    position: absolute;
    float: right;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s linear 0s, opacity 0.2s linear 0s;
    //max-width: 110%;
    width: 159px;
    height: 84px;
  }

  .card-header h5 {
    display: inline-block;
    font-size: 1em;
  }
  p.contacts {
    font-weight: 200;
    color: #435164;
    font-size: 0.688em;
    margin-top: -5px;
    margin-bottom: 12px;
  }

  .text-muted{
    color:#fff!important;
    font-size: 0.750em;
  }

  .text-muted, strong.h4.indicator {
    word-wrap: normal;
  }
  strong.h4.indicator {
    font-size: 0.875em
  }
}

@media screen and (max-width:717px){
  .dashboard{
    strong.h4.indicator{
      font-size:14px
    }
    .card-header h5 {
      font-size: 1.1em;
    }
    .card-body{
      padding: 1.25rem 0.5rem;
    }
    //.card-header img.title-image,.card-header img.title-image_hidden{
    //  height: 45px;
    //}
  }
}

@media screen and (max-width:1527px) and (min-width:1200px){
  strong.h4.indicator{
    font-size:0.7rem
  }
}

@media screen and (max-width: 1435px) {
  .dashboard {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 800px) {
  .dashboard {
    .col-lg-6 {
      flex: 0 0 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width:390px){
  .dashboard {
    .card img.title-image {
      display: none;
    }

    .card img.title-image_hidden {
      display: none;
    }
  }
}


.nav-dropdown-items a.nav-link {
    margin-left: 20px;
}
.nav-dropdown-items .nav-dropdown-items a.nav-link {
    margin-left: 40px;
}
.nav-link.active{
  font-weight:600
}