.no-data-message{
  margin:auto;
  text-align:center
}
.dashboard {
  >.row{
    margin-right: 0;
    margin-left: 0;
    >div{
      padding-right:5px;
      padding-left:5px;
    }
  }
  .card-header img.title-image {
    height: 60px;
    bottom: 0px;
    right: 12px;
    position: absolute;
    float: right;
    transition: visibility 0.4s linear 0s, opacity 0.2s linear 0s;
    opacity: 1;
    /*max-width: 110%;*/
  }
  .card {
    border: solid 1px rgba(169, 218, 235, 0.5);
    border-radius: 4px;
    background-color: #a9daeb;
    box-shadow: 0px 0 4px 1px rgba(150, 150, 150, 0.2);
  }
  .card-body, .card-block {
    text-align: center;
  }
  .card-body{
    .row div{
      padding-left:5px;
      padding-right:5px;
      &.block_title{
        line-height: 100%;
      }
    }
  }
  .card-header {
    border-bottom: 1px solid #dfe2e5 !important;
    padding-top: 40px !important;
  }
  .card:hover img.title-image {
    opacity: 0;
    visibility: hidden;

  }
  .card:hover img.title-image_hidden {
    visibility: visible;
    opacity: 1;
  }
  .card:hover {
    border: 1px solid #8ed6fb;
  }
  .card-header img.title-image_hidden {
    height: 60px;
    bottom: 0px;
    right: 12px;
    position: absolute;
    float: right;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s linear 0s, opacity 0.2s linear 0s;
    /*max-width: 110%;*/
    width: 100px;
    heigth: 100px;
  }

  .card-header h5 {
    display: inline-block;
    font-size: 1.3em;
  }
  p.contacts {
    font-weight: 200;
    color: #435164;
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .text-muted{
    color:#fff!important
  }

  .text-muted, strong.h4.indicator {
    word-wrap: normal;
  }
  strong.h4.indicator {
    font-size: 1rem
  }
}

@media screen and (max-width:717px){
  .dashboard{
    strong.h4.indicator{
      font-size:14px
    }
    .card-header h5 {
      font-size: 1.1em;
    }
    .card-body{
      padding: 1.25rem 0.5rem;
    }
    .card-header img.title-image,.card-header img.title-image_hidden{
      height: 45px;
    }
  }
}

@media screen and (max-width:1527px) and (min-width:1200px){
  strong.h4.indicator{
    font-size:0.7rem
  }
}

.nav-dropdown-items a.nav-link {
    margin-left: 20px;
}
.nav-dropdown-items .nav-dropdown-items a.nav-link {
    margin-left: 40px;
}
.nav-link.active{
  font-weight:600
}
