


.registration-form{
  width:40%;
  margin: auto;
  input[type="password"]:first-child{
    margin-bottom:10px;
  }
  label {
    width: 80%;
  }
  .hintMessage {
    color: #336573;
  }
  .errorMessage {
    color: #fd0101;
    text-align: left;
    text-transform: lowercase;
  }
  .errorMessage, .hintMessage{
    position: absolute;
    width: 100%;
    line-height: 1;
  }
  input.form-control.hasErrors {
    border-bottom: solid 1px rgb(230, 5, 5);
  }
  input:focus{
    border:none;
    border-bottom: 1px solid #8bc8e8;
  }
  a.registr-link {
    color: #fff;
    font-weight: bold;
    font-size: 110%;
  }
  button.clear-field {
    display:block;
    position: absolute;
    top: 0px;
    right: 0;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
  }
  .reg_title{
    text-align:left
  }
  .form-group.name-group label{
    width:100%
  }

  .password-inputs .field:first-child{
    margin-bottom:55px;
  }

  @media screen and (min-width:992px){
    .name_group_wrapper{
      >div{
        padding: 0;
        &:first-child{
          padding-right: 15px;
        }
      }
    }
  }

  @media screen and (min-width:768px){
    .name_group_wrapper{
      width:80%;
      margin:auto;
      >div{
        padding: 0;
      }
    }
  }

  @media screen and (min-width:1200px){
    .password-inputs label .field {
      position:relative;
      width: 45%;
      display: inline-block;
      //padding: 10px;
      &:first-of-type{
        margin-right: 10%;
        margin-bottom: 0;
      }
      &:last-of-type[placeholder] {
        font-size: 110%;
        padding-bottom: 11px;
      }
    }
    .confirmError{
      margin-left: 55%;
    }
  }

  @media screen and (max-width:700px){
    input:focus{
      border-bottom: 2px solid #8bc8e8;
    }
  }

}



