


.registration-form{
  border-radius: 10px;
  margin: auto;
  input[type="password"]:first-child{
    margin-bottom:10px;
  }

  label,.nextStep {
    width: 70%;
    margin-bottom: 33px;
    h4 {
      margin-bottom: 25px;
      font-size: 1.625em;
    }
    button {
      margin-bottom: 5px;
    }
  }
  .hintMessage {
    color: #336573;
  }
  .errorMessage {
    color: #fd0101;
    text-align: left;
    text-transform: lowercase;
  }
  .errorMessage, .hintMessage{
    position: absolute;
    width: 100%;
    line-height: 1;
  }
  input.form-control.hasErrors {
    border-bottom: solid 1px rgb(230, 5, 5);
  }
  input:focus{
    border:none;
    border-bottom: 1px solid #8bc8e8;
  }
  a.registr-link {
    color: #fff;
    font-weight: bold;
    font-size: 110%;
  }
  button.clear-field {
    display:block;
    position: absolute;
    top: 3px;
    right: 2px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin-bottom: 0px !important;
  }
  .reg_title{
    text-align:left
  }
  .form-group.name-group label{
    width:100%;
  }

  .password-inputs .field:first-child{
    margin-bottom:55px;
  }

  .password-inputs {
      .field {
        position: relative;
      }
  }

  .card.bg-danger {
    width: 80%;
    margin: auto;
  }

  .permanentMessage{
    font-size: 12px;
    line-height: 1.58;
    text-align: left;
    color: #394355;
  }

  @media screen and (min-width:992px){
    .name_group_wrapper{
      >div{
        padding: 0;
        &:first-child{
          padding-right: 35px;
        }
      }
    }
  }

  @media screen and (min-width:768px){
    .name_group_wrapper{
      width:70%;
      margin:auto;
      >div{
        padding: 0;
      }
    }
  }

  @media screen and (max-width:820px){
    .name_group_wrapper{
      width: inherit !important;
    }
  }

  @media screen and (min-width:1200px) {
    .password-inputs {
      label {
        position: relative;
        .field {
          position: relative;
          width: 45%;
          display: inline-block;

          &:first-of-type {
            margin-right: 10%;
            margin-bottom: 0;
          }
          &:last-of-type[placeholder] {
            font-size: 110%;
            padding-bottom: 11px;
          }
          .field {
            position: relative;
            margin-bottom: 35px !important;
          }
          .field + .errorMessage {
            top: 41px;
          }
          .field + .confirmError {
            top: 115px !important;
          }
        }
      }
    }

  }

  @media screen and (max-width:670px){
    &.auth-window {
      padding:0px 0px 2px 0px;
    }
    .auth-nav {
      margin-bottom: 3px;
    }
    input:focus{
      border-bottom: 1px solid #8bc8e8;
    }
    .reg_title{
      text-align:left;
      font-size: 1.125em !important;
      margin-bottom: 0px;
    }
    .password-inputs {
      label {
        position: relative;
        margin-bottom: 0px !important;
        .field {
          position: relative;
          margin-bottom: 35px !important;
        }
        .field +.errorMessage{
          top:41px;
        }
        .field +.confirmError{
          top:115px !important;
        }
      }
    }

    button.clear-field {
      top: 0px !important;
    }

    .auth-btn {
      margin-top: 4px;
      font-size: 1.125em !important;
    }
    .back-btn {
      margin-top: 4px;
      padding-left: -10px;
      font-size: 1.125em !important;
      margin-left: -38px;
    }
    .finish-btn{
      margin-left: -38px;
      width: 223px;
    }


    }

}




