.auth-nav {
  margin-bottom: 60px; }
  .auth-nav a {
    font-family: ProximaNova, sans-serif;
    font-size: 1.625em;
    font-weight: 600;
    color: #354052;
    display: inline-block;
    line-height: 40px; }
    .auth-nav a:hover {
      text-decoration: none; }
    .auth-nav a.active {
      border-bottom: solid 5px rgba(142, 214, 250, 0.8); }

.auth-btn {
  width: 100%;
  background: #8ed6fa;
  color: #fff;
  font-size: 130%;
  border-radius: 3px; }
  .auth-btn:disabled, .auth-btn.dsbl {
    background-color: rgba(216, 216, 216, 0.6);
    box-shadow: 0 0 2px #b3b3b3; }

button.btn.back-btn {
  background: no-repeat;
  color: rgba(57, 67, 85, 0.8);
  font-size: 18px; }
  button.btn.back-btn:focus {
    box-shadow: none; }

.auth-window {
  width: 40%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center;
  padding: 60px 80px;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(8.5px);
  box-shadow: 5px 8px 15px 0 rgba(149, 149, 149, 0.15), 0 -1px 15px 0 rgba(194, 194, 194, 0.07); }
  .auth-window label {
    font-weight: 400;
    width: 70%;
    position: relative;
    margin-bottom: 35px; }
  .auth-window form {
    text-align: center; }
  .auth-window input:-webkit-autofill, .auth-window input:-webkit-autofill:focus {
    -webkit-text-fill-color: #3e515b !important;
    color: #3e515b !important;
    -webkit-box-shadow: 0 0 0px 1000px #f5f7f8 inset; }
  .auth-window input {
    background: none;
    border: none;
    border-bottom: solid 1px rgba(161, 161, 161, 0.8);
    width: 100%;
    padding-left: 0;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    font-size: 110%; }
    .auth-window input:focus {
      background: transparent;
      border: none;
      border-bottom: 1px solid #8bc8e8;
      box-shadow: none; }
  .auth-window .hintMessage {
    width: 70%;
    margin: auto; }

.label-hint {
  position: absolute;
  left: 0px;
  top: -20px;
  color: #c1cacb; }

@media screen and (max-width: 1600px) {
  .auth-window {
    width: 50% !important; } }

@media screen and (max-width: 1400px) {
  .auth-window {
    width: 60% !important; } }

@media screen and (max-width: 991px) {
  .auth-window {
    width: 60% !important; }
    .auth-window label {
      width: 100%; }
    .auth-window .hintMessage {
      width: 100%; }
  .auth-nav a {
    font-size: 2.3vw; }
    .auth-nav a:active {
      box-shadow: 0 2px 2px #b9b9b9;
      background: #d8dedc;
      padding: 1px;
      -webkit-tap-highlight-color: transparent; } }

@media screen and (max-width: 767px) {
  .auth-window {
    width: 100% !important;
    border-radius: 10px;
    padding: 60px 20px; }
    .auth-window label {
      width: 100% !important; }
  .auth-nav a {
    font-size: 1.5em; }
  .dropdown__content.dropdown-content {
    height: auto;
    max-height: 70vh; }
  .empty-tmpl-app .container-fluid {
    padding: 24px; } }

@media screen and (max-width: 400px) {
  .empty-tmpl-app .container-fluid {
    padding: 20px; }
  .auth-nav {
    margin-bottom: 60px;
    font-size: 90%;
    padding: 10px; } }

@media screen and (max-width: 350px) {
  .auth_links {
    padding: 0; } }
