.auth-layer{
  display:flex;
  background: url('img/backgroundv2.jpg');
  background-size: 140%;
  background-position: 40% 0%;
  height: inherit !important;
  .main{
    padding-top:0
  }
  .empty-tmpl-app{
    margin: auto 0;
  }
}