.loading_process {
  z-index: 100;
  background: rgba(0, 0, 0, 0.47);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.load_title {
  top: 70%;
  position: absolute;
  color: #FFF;
  display: block;
  width: 100%;
  text-align: center;
}

.load_image {
  left: 50%;
  top: 50%;
  margin-left: -22px;
  position: absolute;
}
